<div class="pc pc_genre item">
        <label class="details-label" for="{{options.id}}-pc-genre">{{localize "SRLabels.Genre"}}</label>
        <input type="text" class="details-input" title="{{localize "SR.GenreTitle"}}" id="{{options.id}}-pc-genre" name="system.general.genre.value" value="{{data.general.genre.value}}"/>
    </span>
</div>
<div class="pc pc_age item">
        <label class="details-label" for="{{options.id}}-pc-age">{{localize "SRLabels.Age"}}</label>
        <input type="text" class="details-input" title="{{localize "SR.AgeTitle"}}" id="{{options.id}}-pc-age" name="system.general.age.value" value="{{data.general.age.value}}"/>
    </span>
</div>
<div class="pc pc_taille item">
        <label class="details-label" for="{{options.id}}-pc-taille">{{localize "SRLabels.Taille"}}</label>
        <input type="text" class="details-input" title="{{localize "SR.TailleTitle"}}" id="{{options.id}}-pc-taille" name="system.general.taille.value" value="{{data.general.taille.value}}"/>
    </span>
</div>
<div class="pc pc_poids item">
        <label class="details-label" for="{{options.id}}-pc-poids">{{localize "SRLabels.Poids"}}</label>
        <input type="text" class="details-input" title="{{localize "SR.PoidsTitle"}}" id="{{options.id}}-pc-poids" name="system.general.poids.value" value="{{data.general.poids.value}}"/>
    </span>
</div>
<div class="pc pc_motivations">
    <label class="details-label" for="{{options.id}}-pc-motivations">{{localize "SRLabels.Motivations"}}</label>
    <textarea type="text" class="details-input" title="{{localize "SR.MotivationsTitle"}}" id="{{options.id}}-pc-motivations" name="system.general.motivations.value" value="{{data.general.motivations.value}}" placeholder="{{data.general.motivations.value}}">{{data.general.motivations.value}}</textarea>
</div>