<div class="pc pc_domain-technique domain-esprit">
    <span class="domain-label">{{localize "SRdomains.Technique"}}</span>
        <div class="domain-base">
            <label for="test">{{localize "SRLabels.DomainBase"}}</label>
            <input id="test"/>
        </div>
        <div class="domain-actuel">
            <label for="test2">{{localize "SRLabels.DomainActuel"}}</label>
            <input id="test2"/>
        </div>
</div>
<div class="pc pc_domain-savoir domain-esprit">
    <span class="domain-label">{{localize "SRdomains.Savoir"}}</span>
        <div class="domain-base">
            <label for="test">{{localize "SRLabels.DomainBase"}}</label>
            <input id="test"/>
        </div>
        <div class="domain-actuel">
            <label for="test2">{{localize "SRLabels.DomainActuel"}}</label>
            <input id="test2"/>
        </div>
</div>
<div class="pc pc_domain-social domain-esprit">
    <span class="domain-label">{{localize "SRdomains.Social"}}</span>
        <div class="domain-base">
            <label for="test">{{localize "SRLabels.DomainBase"}}</label>
            <input id="test"/>
        </div>
        <div class="domain-actuel">
            <label for="test2">{{localize "SRLabels.DomainActuel"}}</label>
            <input id="test2"/>
        </div>
</div>
<div class="pc pc_domain-arts domain-ame">
    <span class="domain-label">{{localize "SRdomains.Arts"}}</span>
        <div class="domain-base">
            <label for="test">{{localize "SRLabels.DomainBase"}}</label>
            <input id="test"/>
        </div>
        <div class="domain-actuel">
            <label for="test2">{{localize "SRLabels.DomainActuel"}}</label>
            <input id="test2"/>
        </div>
</div>
<div class="pc pc_domain-shaan domain-ame">
    <span class="domain-label">{{localize "SRdomains.Shaan"}}</span>
        <div class="domain-base">
            <label for="test">{{localize "SRLabels.DomainBase"}}</label>
            <input id="test"/>
        </div>
        <div class="domain-actuel">
            <label for="test2">{{localize "SRLabels.DomainActuel"}}</label>
            <input id="test2"/>
        </div>
</div>
<div class="pc pc_domain-magie domain-ame">
    <span class="domain-label">{{localize "SRdomains.Magie"}}</span>
        <div class="domain-base">
            <label for="test">{{localize "SRLabels.DomainBase"}}</label>
            <input id="test"/>
        </div>
        <div class="domain-actuel">
            <label for="test2">{{localize "SRLabels.DomainActuel"}}</label>
            <input id="test2"/>
        </div>
</div>
<div class="pc pc_domain-rituels domain-corps">
    <span class="domain-label">{{localize "SRdomains.Rituels"}}</span>
        <div class="domain-base">
            <label for="test">{{localize "SRLabels.DomainBase"}}</label>
            <input id="test"/>
        </div>
        <div class="domain-actuel">
            <label for="test2">{{localize "SRLabels.DomainActuel"}}</label>
            <input id="test2"/>
        </div>
</div>
<div class="pc pc_domain-survie domain-corps">
    <span class="domain-label">{{localize "SRdomains.Survie"}}</span>
        <div class="domain-base">
            <label for="test">{{localize "SRLabels.DomainBase"}}</label>
            <input id="test"/>
        </div>
        <div class="domain-actuel">
            <label for="test2">{{localize "SRLabels.DomainActuel"}}</label>
            <input id="test2"/>
        </div>
</div>
<div class="pc pc_domain-combat domain-corps">
    <span class="domain-label">{{localize "SRdomains.Combat"}}</span>
        <div class="domain-base">
            <label for="test">{{localize "SRLabels.DomainBase"}}</label>
            <input id="test"/>
        </div>
        <div class="domain-actuel">
            <label for="test2">{{localize "SRLabels.DomainActuel"}}</label>
            <input id="test2"/>
        </div>
</div>
<div class="pc pc_domain-necrose domain-necrose">
    <span class="domain-label">{{localize "SRdomains.Nécrose"}}</span>
        <div class="domain-base">
            <label for="test">{{localize "SRLabels.DomainBase"}}</label>
            <input id="test"/>
        </div>
        <div class="domain-actuel">
            <label for="test2">{{localize "SRLabels.DomainActuel"}}</label>
            <input id="test2"/>
        </div>
</div>