<div class="pc pc_domain-technique domain-esprit" id="Esprit">
    {{!-- <img src="systems/Shaan_Renaissance/assets/icons/domaines/Technique.png" style="border: none; width: 20%; position: relative; left: -15px"/> --}}
    <span class="domain-label">{{localize "SRdomains.Technique"}}</span>
        <div class="domain-base">
            <label for="{{options.id}}-pc-domain-technique-base">{{localize "SRLabels.DomainBase"}}</label>
            <input type="number" class="details-input domain-input" title="{{localize "SR.TechniqueTitleBase"}}" id="{{options.id}}-pc-domain-technique-base" name="system.skills.Technique.rank" value="{{data.skills.Technique.rank}}"/>
        </div>
        <div class="domain-actuel">
            <label for="{{options.id}}-pc-domain-technique-actuel">{{localize "SRLabels.DomainBonus"}}</label>
            <input type="number" class="details-input" title="{{localize "SR.TechniqueTitleActuel"}}" id="{{options.id}}-pc-domain-technique-actuel" name="system.skills.Technique.temp" value="{{data.skills.Technique.temp}}"/>
        </div>
        <div class="domain-exp">
            <label for="{{options.id}}-pc-domain-technique-exp">{{localize "SRLabels.DomainExp"}}</label>
            <input type="number" class="details-input" title="{{localize "SR.TechniqueTitleExp"}}" id="{{options.id}}-pc-domain-technique-exp" name="system.skills.Technique.exp" value="{{data.skills.Technique.exp}}"/>
        </div>
</div>
<div class="pc pc_domain-arts domain-ame" id="Ame">
    <span class="domain-label">{{localize "SRdomains.Arts"}}</span>
        <div class="domain-base">
            <label for="{{options.id}}-pc-domain-arts-base">{{localize "SRLabels.DomainBase"}}</label>
            <input type="number" class="details-input" title="{{localize "SR.ArtsTitleBase"}}" id="{{options.id}}-pc-domain-arts-base" name="system.skills.Arts.rank" value="{{data.skills.Arts.rank}}"/>
        </div>
        <div class="domain-actuel">
            <label for="{{options.id}}-pc-domain-arts-actuel">{{localize "SRLabels.DomainBonus"}}</label>
            <input type="number" class="details-input" title="{{localize "SR.ArtsTitleActuel"}}" id="{{options.id}}-pc-domain-arts-actuel" name="system.skills.Arts.temp" value="{{data.skills.Arts.temp}}"/>
        </div>
        <div class="domain-exp">
            <label for="{{options.id}}-pc-domain-Arts-exp">{{localize "SRLabels.DomainExp"}}</label>
            <input type="number" class="details-input" title="{{localize "SR.ArtsTitleExp"}}" id="{{options.id}}-pc-domain-Arts-exp" name="system.skills.Arts.exp" value="{{data.skills.Arts.exp}}"/>
        </div>
</div>
<div class="pc pc_domain-rituels domain-corps" id="Corps">
    <span class="domain-label">{{localize "SRdomains.Rituels"}}</span>
        <div class="domain-base">
            <label for="{{options.id}}-pc-domain-rituels-base">{{localize "SRLabels.DomainBase"}}</label>
            <input type="number" class="details-input" title="{{localize "SR.RituelsTitleBase"}}" id="{{options.id}}-pc-domain-rituels-base" name="system.skills.Rituels.rank" value="{{data.skills.Rituels.rank}}"/>
        </div>
        <div class="domain-actuel">
            <label for="{{options.id}}-pc-domain-rituels-actuel">{{localize "SRLabels.DomainBonus"}}</label>
            <input type="number" class="details-input" title="{{localize "SR.RituelsTitleActuel"}}" id="{{options.id}}-pc-domain-rituels-actuel" name="system.skills.Rituels.temp" value="{{data.skills.Rituels.temp}}"/>
        </div>
        <div class="domain-exp">
            <label for="{{options.id}}-pc-domain-Rituels-exp">{{localize "SRLabels.DomainExp"}}</label>
            <input type="number" class="details-input" title="{{localize "SR.RituelsTitleExp"}}" id="{{options.id}}-pc-domain-Rituels-exp" name="system.skills.Rituels.exp" value="{{data.skills.Rituels.exp}}"/>
        </div>
</div>
<div class="pc pc_domain-savoir domain-esprit" id="Esprit">
    <span class="domain-label">{{localize "SRdomains.Savoir"}}</span>
        <div class="domain-base">
            <label for="{{options.id}}-pc-domain-savoir-base">{{localize "SRLabels.DomainBase"}}</label>
            <input type="number" class="details-input domain-input" title="{{localize "SR.SavoirTitleBase"}}" id="{{options.id}}-pc-domain-savoir-base" name="system.skills.Savoir.rank" value="{{data.skills.Savoir.rank}}"/>
        </div>
        <div class="domain-actuel">
            <label for="{{options.id}}-pc-domain-savoir-actuel">{{localize "SRLabels.DomainBonus"}}</label>
            <input type="number" class="details-input" title="{{localize "SR.SavoirTitleActuel"}}" id="{{options.id}}-pc-domain-savoir-actuel" name="system.skills.Savoir.temp" value="{{data.skills.Savoir.temp}}"/>
        </div>
        <div class="domain-exp">
            <label for="{{options.id}}-pc-domain-savoir-exp">{{localize "SRLabels.DomainExp"}}</label>
            <input type="number" class="details-input" title="{{localize "SR.SavoirTitleExp"}}" id="{{options.id}}-pc-domain-savoir-exp" name="system.skills.Savoir.exp" value="{{data.skills.Savoir.exp}}"/>
        </div>
</div>
<div class="pc pc_domain-shaan domain-ame" id="Ame">
    <span class="domain-label">{{localize "SRdomains.Shaan"}}</span>
        <div class="domain-base">
            <label for="{{options.id}}-pc-domain-shaan-base">{{localize "SRLabels.DomainBase"}}</label>
            <input type="number" class="details-input" title="{{localize "SR.ShaanTitleBase"}}" id="{{options.id}}-pc-domain-shaan-base" name="system.skills.Shaan.rank" value="{{data.skills.Shaan.rank}}"/>
        </div>
        <div class="domain-actuel">
            <label for="{{options.id}}-pc-domain-shaan-actuel">{{localize "SRLabels.DomainBonus"}}</label>
            <input type="number" class="details-input" title="{{localize "SR.ShaanTitleActuel"}}" id="{{options.id}}-pc-domain-shaan-actuel" name="system.skills.Shaan.temp" value="{{data.skills.Shaan.temp}}"/>
        </div>
        <div class="domain-exp">
            <label for="{{options.id}}-pc-domain-Shaan-exp">{{localize "SRLabels.DomainExp"}}</label>
            <input type="number" class="details-input" title="{{localize "SR.ShaanTitleExp"}}" id="{{options.id}}-pc-domain-Shaan-exp" name="system.skills.Shaan.exp" value="{{data.skills.Shaan.exp}}"/>
        </div>
</div>
<div class="pc pc_domain-survie domain-corps" id="Corps">
    <span class="domain-label">{{localize "SRdomains.Survie"}}</span>
        <div class="domain-base">
            <label for="{{options.id}}-pc-domain-survie-base">{{localize "SRLabels.DomainBase"}}</label>
            <input type="number" class="details-input" title="{{localize "SR.SurvieTitleBase"}}" id="{{options.id}}-pc-domain-survie-base" name="system.skills.Survie.rank" value="{{data.skills.Survie.rank}}"/>
        </div>
        <div class="domain-actuel">
            <label for="{{options.id}}-pc-domain-survie-actuel">{{localize "SRLabels.DomainBonus"}}</label>
            <input type="number" class="details-input" title="{{localize "SR.SurvieTitleActuel"}}" id="{{options.id}}-pc-domain-survie-actuel" name="system.skills.Survie.temp" value="{{data.skills.Survie.temp}}"/>
        </div>
        <div class="domain-exp">
            <label for="{{options.id}}-pc-domain-Survie-exp">{{localize "SRLabels.DomainExp"}}</label>
            <input type="number" class="details-input" title="{{localize "SR.SurvieTitleExp"}}" id="{{options.id}}-pc-domain-Survie-exp" name="system.skills.Survie.exp" value="{{data.skills.Survie.exp}}"/>
        </div>
</div>
<div class="pc pc_domain-social domain-esprit" id="Esprit">
    <span class="domain-label">{{localize "SRdomains.Social"}}</span>
        <div class="domain-base">
            <label for="{{options.id}}-pc-domain-social-base">{{localize "SRLabels.DomainBase"}}</label>
            <input type="number" class="details-input domain-input" title="{{localize "SR.SocialTitleBase"}}" id="{{options.id}}-pc-domain-social-base" name="system.skills.Social.rank" value="{{data.skills.Social.rank}}"/>
        </div>
        <div class="domain-actuel">
            <label for="{{options.id}}-pc-domain-social-actuel">{{localize "SRLabels.DomainBonus"}}</label>
            <input type="number" class="details-input" title="{{localize "SR.SocialTitleActuel"}}" id="{{options.id}}-pc-domain-social-actuel" name="system.skills.Social.temp" value="{{data.skills.Social.temp}}"/>
        </div>
        <div class="domain-exp">
            <label for="{{options.id}}-pc-domain-Social-exp">{{localize "SRLabels.DomainExp"}}</label>
            <input type="number" class="details-input" title="{{localize "SR.SocialTitleExp"}}" id="{{options.id}}-pc-domain-Social-exp" name="system.skills.Social.exp" value="{{data.skills.Social.exp}}"/>
        </div>
</div>
<div class="pc pc_domain-magie domain-ame" id="Ame">
    <span class="domain-label">{{localize "SRdomains.Magie"}}</span>
        <div class="domain-base">
            <label for="{{options.id}}-pc-domain-magie-base">{{localize "SRLabels.DomainBase"}}</label>
            <input type="number" class="details-input" title="{{localize "SR.MagieTitleBase"}}" id="{{options.id}}-pc-domain-magie-base" name="system.skills.Magie.rank" value="{{data.skills.Magie.rank}}"/>
        </div>
        <div class="domain-actuel">
            <label for="{{options.id}}-pc-domain-magie-actuel">{{localize "SRLabels.DomainBonus"}}</label>
            <input type="number" class="details-input" title="{{localize "SR.MagieTitleActuel"}}" id="{{options.id}}-pc-domain-magie-actuel" name="system.skills.Magie.temp" value="{{data.skills.Magie.temp}}"/>
        </div>
        <div class="domain-exp">
            <label for="{{options.id}}-pc-domain-Magie-exp">{{localize "SRLabels.DomainExp"}}</label>
            <input type="number" class="details-input" title="{{localize "SR.MagieTitleExp"}}" id="{{options.id}}-pc-domain-Magie-exp" name="system.skills.Magie.exp" value="{{data.skills.Magie.exp}}"/>
        </div>
</div>
<div class="pc pc_domain-combat domain-corps" id="Corps">
    <span class="domain-label">{{localize "SRdomains.Combat"}}</span>
        <div class="domain-base">
            <label for="{{options.id}}-pc-domain-combat-base">{{localize "SRLabels.DomainBase"}}</label>
            <input type="number" class="details-input" title="{{localize "SR.CombatTitleBase"}}" id="{{options.id}}-pc-domain-combat-base" name="system.skills.Combat.rank" value="{{data.skills.Combat.rank}}"/>
        </div>
        <div class="domain-actuel">
            <label for="{{options.id}}-pc-domain-combat-actuel">{{localize "SRLabels.DomainBonus"}}</label>
            <input type="number" class="details-input" title="{{localize "SR.CombatTitleActuel"}}" id="{{options.id}}-pc-domain-combat-actuel" name="system.skills.Combat.temp" value="{{data.skills.Combat.temp}}"/>
        </div>
        <div class="domain-exp">
            <label for="{{options.id}}-pc-domain-Combat-exp">{{localize "SRLabels.DomainExp"}}</label>
            <input type="number" class="details-input" title="{{localize "SR.CombatTitleExp"}}" id="{{options.id}}-pc-domain-Combat-exp" name="system.skills.Combat.exp" value="{{data.skills.Combat.exp}}"/>
        </div>
</div>
<div class="pc pc_domain-necrose domain-necrose">
    <span class="domain-label">{{localize "SRdomains.Nécrose"}}</span>
        <div class="domain-base">
            <label for="{{options.id}}-pc-domain-necrose-base">{{localize "SRLabels.DomainBase"}}</label>
            <input type="number" class="details-input" title="{{localize "SR.NécroseTitleBase"}}" id="{{options.id}}-pc-domain-necrose-base" name="system.skills.Nécrose.rank" value="{{data.skills.Nécrose.rank}}"/>
        </div>
        <div class="domain-actuel">
            <label for="{{options.id}}-pc-domain-necrose-actuel">{{localize "SRLabels.DomainBonus"}}</label>
            <input type="number" class="details-input" title="{{localize "SR.NécroseTitleActuel"}}" id="{{options.id}}-pc-domain-necrose-actuel" name="system.skills.Nécrose.temp" value="{{data.skills.Nécrose.temp}}"/>
        </div>
        <div class="domain-exp">
            <label for="{{options.id}}-pc-domain-Nécrose-exp">{{localize "SRLabels.DomainExp"}}</label>
            <input type="number" class="details-input" title="{{localize "SR.NécroseTitleExp"}}" id="{{options.id}}-pc-domain-Nécrose-exp" name="system.skills.Nécrose.exp" value="{{data.skills.Nécrose.exp}}"/>
        </div>
</div>