<header class="char-header">
    <section class="char-details">
        <h1 class="char-name">
            <input name="name" type="text" value="{{actor.name}}" placeholder="Nom du Personnage" spellcheck="false" />
        </h1>
    </section>
    <section class="char-exp">
        <div class="exp">
            <label>Expérience</label>
            <div class="exp-input" style="display:flex; flex-direction: row;">
                <input name="system.details.xp.value" type="text" value="{{data.system.details.xp.value}}" data-dtype="Number" placeholder="{{data.system.details.xp.value}}" size="4" />
                <span class="max"> / </span>
                <input name="system.details.xpMax.value" type="text" value="{{data.system.details.xpMax.value}}" data-dtype="Number" placeholder="{{data.system.details.xpMax.value}}" size="4" />
            </div>
        </div>
    </section>
</header>