<div class="pc pc_specialisations-technique specialisations-esprit">
    <span class="specialisations-label">{{localize "SRdomains.Technique"}}</span>
    <span class="specialisations-bonus-label">{{localize "SRLabels.BonusLabel"}}</span>
    <span class="specialisations-acquisBonus-label">{{localize "SRLabels.AcquisBonusLabel"}}</span>
    <span><label for="{{options.id}}-pc-technique-spé1-bonus {{options.id}}-pc-technique-spé1-acquisBonus">{{localize "SRspecialisations.engrenages"}}</label></span>
    <span><input type="number" class="details-input" title="{{localize "SR.EngrenagesTitle"}}" id="{{options.id}}-pc-technique-spé1-bonus" name="system.skills.Technique.specialisations.bonus" value="{{data.skills.Technique.specialisations.bonus}}"/></span>
    <span><input type="number" class="details-input" title="{{localize "SR.EngrenagesAcquisTitle"}}" id="{{options.id}}-pc-technique-spé1-acquisBonus" name="system.skills.Technique.specialisations.acquis" value="{{data.skills.Technique.specialisations.acquis}}"/></span>
    
</div>
<div class="pc pc_specialisations-technique specialisations-esprit">
    <span class="specialisations-label">{{localize "SRdomains.Social"}}</span>
    <span class="specialisations-bonus-label">{{localize "SRLabels.BonusLabel"}}</span>
    <span class="specialisations-acquisBonus-label">{{localize "SRLabels.AcquisBonusLabel"}}</span>
    <span class="specialisations-spé1">{{localize "SRspecialisations.engrenages"}}</span>
</div>
<div class="pc pc_specialisations-technique specialisations-esprit">
    <span class="specialisations-label">{{localize "SRdomains.Savoir"}}</span>
    <span class="specialisations-bonus-label">{{localize "SRLabels.BonusLabel"}}</span>
    <span class="specialisations-acquisBonus-label">{{localize "SRLabels.AcquisBonusLabel"}}</span>
    <span class="specialisations-spé1">{{localize "SRspecialisations.engrenages"}}</span>
</div>