<span class="protection-label">{{localize "SRLabels.Protections"}}</span>
<div class="protections">
    <div class="protections-big" style="display:flex; flex-direction: row;">
        <div class="protection-esprit">
            <label for="{{options.id}}-creature-protections-esprit-value" class="sidebar_label">{{localize "SRLabels.Esprit"}}</label>
            <input class="select-input" name="system.protections.esprit.value" id="{{options.id}}-creature-protections-esprit-value" type="number" value="{{data.protections.esprit.value}}" placeholder="{{data.protections.esprit.value}}">
        </div>
        <div class="protection-ame">
            <label for="{{options.id}}-creature-protections-ame-value" class="sidebar_label">{{localize "SRLabels.Ame"}}</label>
            <input class="select-input" name="system.protections.ame.value" id="{{options.id}}-creature-protections-ame-value" type="number" value="{{data.protections.ame.value}}" placeholder="{{data.protections.ame.value}}">
        </div>
        <div class="protection-corps">
            <label for="{{options.id}}-creature-protections-corps-value" class="sidebar_label">{{localize "SRLabels.Corps"}}</label>
            <input class="select-input" name="system.protections.corps.value" id="{{options.id}}-creature-protections-corps-value" type="number" value="{{data.protections.corps.value}}" placeholder="{{data.protections.corps.value}}">
        </div>
    </div>
</div>