<div class="biography-histoire">
    <label class="details-label" for="{{actor.id}}-creature-histoire">{{localize "SR.Déscription"}}</label>
    <textarea class="histoire-textarea" id="{{actor.id}}-creature-histoire" name="system.histoire" value="{{data.histoire}}">{{data.histoire}}</textarea>
</div>
<hr/>
