<div class="biography-histoire">
    <label class="details-label" for="{{actor.id}}-npc-histoire">{{localize "SRLabels.histoire"}}</label>
    <textarea class="histoire-textarea" id="{{actor.id}}-npc-histoire" name="system.biography.histoire" value="{{data.biography.histoire}}">{{data.biography.histoire}}</textarea>
</div>
<hr/>
