{{!-- Image --}}
<div class="npc_frame-container">
    <div class="frame image-container">
        <img class="player-image" alt="{{actor.name}}" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
    </div>
</div>
{{!-- Nom --}}
<section class="npc_char-details">
    <h1 class="char-name">
        <input name="name" type="text" value="{{actor.name}}" placeholder="Nom du Personnage" spellcheck="false" />
    </h1>
</section>
{{!-- race --}}
<div class="npc npc_race item">
    <label class="details-label" for="{{options.id}}-pc-race">{{localize "ITEM.TypeRace"}}</label>
    <input type="text" class="details-input" title="{{localize "SR.RaceTitle"}}" id="{{options.id}}-pc-race" name="system.general.race.value" value="{{data.general.race.value}}"/> 
</div>
{{!-- caste --}}
<div class="npc npc_caste item">
    <label class="details-label" for="{{options.id}}-pc-caste">{{localize "ITEM.TypeCaste"}}</label>
    <input type="text" class="details-input" title="{{localize "SR.CasteTitle"}}" id="{{options.id}}-pc-caste" name="system.general.caste.value" value="{{data.general.caste.value}}"/>
</div>
{{!-- peuple --}}
<div class="npc npc_people item">
    <label class="details-label" for="{{options.id}}-pc-people">{{localize "ITEM.TypePeople"}}</label>
    <input type="text" class="details-input" title="{{localize "SR.PeopleTitle"}}" id="{{options.id}}-pc-people" name="system.general.people.value" value="{{data.general.people.value}}"/>
</div>
{{!-- métier --}}
<div class="npc npc_job item">
    <label class="details-label" for="{{options.id}}-pc-job">{{localize "ITEM.TypeJob"}}</label>
    <input type="text" class="details-input" title="{{localize "SR.JobTitle"}}" id="{{options.id}}-pc-job" name="system.general.job.value" value="{{data.general.job.value}}"/>
</div>
