<div class="sidebar_title">
    <h2>Protections</h2>
</div>
<div class="protections">
    <div class="protections-big" style="display:flex; flex-direction: row;">
        <div class="protection-esprit">
            <label for="{{options.id}}-pc-protections-esprit-value" class="sidebar_label">Esprit</label>
            <input name="system.protections.esprit.value" id="{{options.id}}-pc-protections-esprit-value" type="number" value="{{data.system.protections.esprit.value}}" placeholder="{{data.system.protections.esprit.value}}">
        </div>
        <div class="protection-ame">
            <label for="{{options.id}}-pc-protections-ame-value" class="sidebar_label">Âme</label>
            <input name="system.protections.ame.value" id="{{options.id}}-pc-protections-ame-value" type="number" value="{{data.system.protections.ame.value}}" placeholder="{{data.system.protections.ame.value}}">
        </div>
        <div class="protection-corps">
            <label for="{{options.id}}-pc-protections-corps-value" class="sidebar_label">Corps</label>
            <input name="system.protections.corps.value" id="{{options.id}}-pc-protections-corps-value" type="number" value="{{data.system.protections.corps.value}}" placeholder="{{data.system.protections.corps.value}}">
        </div>
    </div>
</div>