<div class="sidebar_title">
    <h2><span>{{localize "SRLabels.Trihns"}}</span><a class="regen-hp" title="{{localize "SR.RegenTitle"}}"><i class="fa-solid fa-bed"></i></a></h2>
</div>
<div class="HP">
    <div class="hp-big">
            <span class="esprit-label">
                <a class="trihnTest" data-trihn="Esprit">
                {{> "systems/shaanrenaissance/templates/actors/icons/d10Yellow.hbs"}}
                </a>
                <h3 class="sidebar_label">{{localize "SRLabels.Esprit"}}</h3>
            </span>
            <div class="data-value hpActuel-esprit" title="Esprit Actuel">
                <input class="select-input" name="system.attributes.hpEsprit.value" id="{{option.id}}-pc-hp-esprit-value" type="number" value="{{data.attributes.hpEsprit.value}}" max="{{data.attributes.hpEsprit.max}}">
            </div>
            <div class="data-value hpMax-esprit" title="Esprit Max">
            <h2 class="hpMax-Esprit">/{{data.attributes.hpEsprit.max}}</h2>            
            </div>
            <span class="ame-label">
                <a class="trihnTest" data-trihn="Ame">
                {{> "systems/shaanrenaissance/templates/actors/icons/d10Blue.hbs"}}
                </a>
                <h3 class="sidebar_label">{{localize "SRLabels.Ame"}}</h3>
            </span>
            <div class="data-value hpActuel-ame" title="Âme Actuel">
                <input class="select-input" name="system.attributes.hpAme.value" id="{{option.id}}-pc-hp-ame-value" type="number" value="{{data.attributes.hpAme.value}}" max="{{data.attributes.hpAme.max}}">
            </div>
            <div class="data-value hpMax-ame" title="Âme Max">
            <h2 class="hpMax-Ame">/{{data.attributes.hpAme.max}}</h2>            
            </div>
                <span class="corps-label">
                <a class="trihnTest" data-trihn="Corps">
                {{> "systems/shaanrenaissance/templates/actors/icons/d10Red.hbs"}}
                </a>
                <h3 class="sidebar_label">{{localize "SRLabels.Corps"}}</h3>
                </span>
                <div class="data-value hpActuel-corps" title="Corps Actuel">
                    <input class="select-input" name="system.attributes.hpCorps.value" id="{{option.id}}-pc-hp-corps-value" type="number" value="{{data.attributes.hpCorps.value}}" max="{{data.attributes.hpCorps.max}}">
                </div>
                <div class="data-value hpMax-corps" title="Corps Max">
                    <h2 class="hpMax-Corps">/{{data.attributes.hpCorps.max}}</h2>
                </div>
    </div>
</div>