<div class="sidebar_title">
    <h2>{{localize "SRLabels.Trihns"}}</h2>
</div>
<div class="HP">
    <div class="hp-big">
            <span class="esprit-label"><h3 class="sidebar_label">{{localize "SRLabels.Esprit"}}</h3></span>
            <div class="data-value hpActuel-esprit" title="Esprit Actuel">
                <input name="system.attributes.hpEsprit.temp" id="{{option.id}}-pc-hp-esprit-temp" type="number" value="{{data.attributes.hpEsprit.temp}}" placeholder="{{data.attributes.hpEsprit.temp}}" max="{{data.attributes.maxEsprit.temp}}">
            </div>
            <div class="data-value hpMax-esprit" title="Esprit Max">
            <h2 class="hpMax-Esprit">{{data.attributes.hpEsprit.value}}</h2>            
            </div>
            <span class="ame-label"><h3 class="sidebar_label">{{localize "SRLabels.Ame"}}</h3></span>
            <div class="data-value hpActuel-ame" title="Âme Actuel">
                <input name="system.attributes.hpAme.temp" id="{{option.id}}-pc-hp-ame-temp" type="number" value="{{data.attributes.hpAme.temp}}" placeholder="{{data.attributes.hpAme.temp}}" max="{{data.attributes.maxAme.temp}}">
            </div>
            <div class="data-value hpMax-ame" title="Âme Max">
            <h2 class="hpMax-Ame">{{data.attributes.hpAme.value}}</h2>            
            </div>

                <span class="corps-label"><h3 class="sidebar_label">{{localize "SRLabels.Corps"}}</h3></span>
                <div class="data-value hpActuel-corps" title="Corps Actuel">
                    <input name="system.attributes.hpCorps.temp" id="{{option.id}}-pc-hp-corps-temp" type="number" value="{{data.attributes.hpCorps.temp}}" placeholder="{{data.attributes.hpCorps.temp}}" max="{{data.attributes.maxCorps.temp}}">
                </div>
                <div class="data-value hpMax-corps" title="Corps Max">
                    <h2 class="hpMax-Corps">{{data.attributes.hpCorps.value}}</h2>
                </div>
    </div>
</div>