<div class="sidebar_title">
    <h2>{{localize "SRLabels.reserve"}}</h2>
</div>
<div class="reserve-sidebar">
        <div class="reserve-line-1">
            <div class="checkbox1">
                <label for="checkbox1"><span></span>1</label>
                <br/>
                <input class="checkbox" id="checkbox1" type="checkbox" name="system.checkboxes.checkbox1" {{checked data.checkboxes.checkbox1}}>
            </div>
            <div class="">
                <label for="checkbox2"><span></span>2</label>
                <br/>
                <input id="checkbox2" type="checkbox" name="system.reserve.checkbox2" {{checked data.reserve.checkbox2}}>
            </div>
            <div class="">
                <label for="checkbox3"><span></span>3</label>
                <br/>
                <input id="checkbox3" type="checkbox" name="system.reserve.checkbox3" {{checked data.reserve.checkbox3}}>
            </div>
            <div class="">
                <label for="checkbox4"><span></span>4</label>
                <br/>
                <input id="checkbox4" type="checkbox" name="system.reserve.checkbox4" {{checked data.reserve.checkbox4}}>
            </div>
            <div class="">
                <label for="checkbox5"><span></span>5</label>
                <br/>
                <input id="checkbox5" type="checkbox" name="system.reserve.checkbox5" {{checked data.reserve.checkbox5}}>
            </div>
        </div>
        <div class="reserve-line-2">
            <div class="">
                <label for="checkbox6"><span></span>6</label>
                <br/>
                <input id="checkbox6" type="checkbox" name="system.reserve.checkbox6" {{checked data.reserve.checkbox6}}>
            </div>
            <div class="">
                <label for="checkbox7"><span></span>7</label>
                <br/>
                <input id="checkbox7" type="checkbox" name="system.reserve.checkbox7" {{checked data.reserve.checkbox7}}>
            </div>
            <div class="">
                <label for="checkbox8"><span></span>8</label>
                <br/>
                <input id="checkbox8" type="checkbox" name="system.reserve.checkbox8" {{checked data.reserve.checkbox8}}>
            </div>
            <div class="">
                <label for="checkbox9"><span></span>9</label>
                <br/>
                <input id="checkbox9" type="checkbox" name="system.reserve.checkbox9" {{checked data.reserve.checkbox9}}>
            </div>
        </div>
        <div class="reserve-line-3">
            <div class="">
                <label for="checkbox10+"><span></span>10+</label>
                <br/>
                <input id="checkbox10+" type="checkbox" name="system.reserve.checkbox10" {{checked data.reserve.checkbox10}}>
            </div>
            <div class="">
                <label for="checkbox20+"><span></span>20+</label>
                <br/>
                <input id="checkbox20+" type="checkbox" name="system.reserve.checkbox20" {{checked data.reserve.checkbox20}}>
            </div>
        </div>   
</div>