<form class="actor sheet crb-style shaani" autocomplete="off">
  <header>
    <div class="frame-container">
      <div class="frame">
        <img
          src="{{actor.img}}"
          alt="{{actor.name}}"
          data-tooltip="{{actor.name}}"
          data-edit="img"
          class="player-image"
        />
      </div>
    </div>
    <div class="details">
      <input
        name="name"
        class="name"
        id="{{document.uuid}}-name"
        type="text"
        {{disabled (not editable)}}
        value="{{actor.name}}"
      />
    </div>
  </header>
  <nav class="sub-nav">
    {{#unless restricted}}<a data-tab="members">{{localize "SRTabs.Members"}}</a>{{/unless}}
    <a data-tab="cercle">{{localize "SRTabs.Cercle"}}</a>
    <a data-tab="spe">{{localize "SRLabels.SpecialisationsTitle"}}</a>
    <a data-tab="powers">{{localize "SRTabs.PowersLabel"}}</a>
    <a data-tab="acquis">{{localize "SRTabs.AcquisLabel"}}</a>
  </nav>
  <section class="container">
    {{#unless restricted}}<div class="tab members" data-tab="members">{{~> "systems/shaanrenaissance/templates/actors/Shaani/partials/members.hbs"}}</div>{{/unless}}
    <div class="tab cercle" data-tab="cercle">{{~> "systems/shaanrenaissance/templates/actors/Shaani/partials/cercle.hbs"}}</div>
    <div class="tab spe" data-tab="spe">{{~> "systems/shaanrenaissance/templates/actors/Shaani/partials/spe.hbs"}}</div>    
    <div class="tab powers" data-tab="powers">{{~> "systems/shaanrenaissance/templates/actors/Shaani/partials/pouvoirs.hbs"}}</div>
    <div class="tab acquis" data-tab="acquis">{{~> "systems/shaanrenaissance/templates/actors/Shaani/partials/acquis.hbs"}}</div>
  </section>
</form>