<form class="actor sheet crb-style shaani" autocomplete="off">
    <aside>
        <div class="logo">
        <img class="logo-img" src="systems/Shaan_Renaissance/assets/shaan-foundry-logo_bleu.webp" height="100px" alt="Shaan Renaissance" srcset=""/>
        </div>
        <div class="sidebar" data-group="dashboard" data-tab="sidebar">
            {{!-- Trihns --}}
            {{> "systems/Shaan_Renaissance/templates/actors/Shaani/sidebar/health.hbs"}}

            <!-- Armure  -->
            {{> "systems/Shaan_Renaissance/templates/actors/Shaani/sidebar/armor.hbs"}}

            <!-- Initiative -->
            {{> "systems/Shaan_Renaissance/templates/actors/Shaani/sidebar/initiative.hbs"}}

            <!-- Jets -->
            {{> "systems/Shaan_Renaissance/templates/actors/Shaani/sidebar/jets.hbs"}}
            
            <!-- Reserve -->
            {{> "systems/Shaan_Renaissance/templates/actors/Shaani/sidebar/reserve.hbs"}}
        </div>
    </aside>

    <!-- HEADER -->
    {{> "systems/Shaan_Renaissance/templates/actors/Shaani/partials/header.hbs"}}

    {{!-- SHEET NAVIGATION --}}
 <nav class="sheet-navigation" data-group="primary">
        <span class="navigation-title">{{localize "SRTabs.ShaaniLabel"}}</span>
        <a class="item" data-tab="character" title="{{localize "SRTabs.ShaaniLabel"}}">
            <img src="systems/Shaan_Renaissance/assets/icons/navbar/icon_general_bleu.webp" title="{{localize "SRTabs.ShaaniLabel"}}">
        </a>

        <a class="item" data-tab="powers" title="{{localize "SRTabs.PowersLabel"}}">
            <img src="systems/Shaan_Renaissance/assets/icons/navbar/icon_pouvoir_bleu.webp" title="{{localize "SRTabs.PowersLabel"}}">
        </a>
        <a class="item" data-tab="magic" title="{{localize "SRTabs.MagicLabel"}}">
            <img src="systems/Shaan_Renaissance/assets/icons/navbar/icon_magie_bleu.webp" title="{{localize "SRTabs.MagicLabel"}}">
        </a>
        <a class="item" data-tab="symbioses" title="{{localize "SRTabs.symbioses"}}">
            <img src="systems/Shaan_Renaissance/assets/icons/navbar/icon_symbiose_bleu.webp" title="{{localize "SRTabs.symbioses"}}">
        </a>

        <a class="item" data-tab="acquis" title="{{localize "SRTabs.AcquisLabel"}}">
            <img src="systems/Shaan_Renaissance/assets/icons/navbar/icon_acquis_bleu.webp" title="{{localize "SRTabs.AcquisLabel"}}">
        </a>

        <a class="item" data-tab="details" title="{{localize "SRTabs.DetailsLabel"}}">
            <img src="systems/Shaan_Renaissance/assets/icons/navbar/icon_biographie_bleu.webp" title="{{localize "SRTabs.DetailsLabel"}}">
        </a>

        <a class="manage-tabs" data-action="manage-tabs" title="{{localize "SRTabs.ManageTabsLabel"}}">
            <i class="fas fa-fw fa-ellipsis-v" title="{{localize "SRTabs.ManageTabsLabel"}}"></i>
        </a>
</nav>

    <section class="sheet-body">
        <section class="sheet-content">
            {{!-- Character --}}
            {{> "systems/Shaan_Renaissance/templates/actors/Shaani/tabs/general.hbs"}}
            {{!-- Powers --}}
            {{> "systems/Shaan_Renaissance/templates/actors/Shaani/tabs/powers.hbs"}}
            {{!-- Magic --}}
            {{> "systems/Shaan_Renaissance/templates/actors/Personnage/tabs/magic.hbs"}}
            {{!-- Symbioses --}}
            {{> "systems/Shaan_Renaissance/templates/actors/Shaani/tabs/symbioses.hbs"}}
            {{!-- Acquis --}}
            {{> "systems/Shaan_Renaissance/templates/actors/Shaani/tabs/acquis.hbs"}}
            {{!-- Details --}}
            {{> "systems/Shaan_Renaissance/templates/actors/Shaani/tabs/details.hbs"}}
            
        </section>
    </section>
</form>
