<div class="tab details" data-group="primary" data-tab="details">
    <div class="details-top">
        <div class="decision">
            <label class="decision-label" for="{{options.id}}-shaani-decision">{{localize "SRLabels.decisions"}}</label>
            <input class="decision-input" id="{{options.id}}-shaani-decision" name="system.decision" value="{{data.decision}}">
        </div>
        <div class="shaandars">
            <ol class="shaandar-list">
                <li class="shaandar-label">
                    <label>{{localize "SRLabels.ShaandarName"}}</label>
                    <label>{{localize "SRLabels.ShaandarDomain"}}</label>
                </li>
                <li class="shaandar1">
                    <input class="shaandar-name-input" id="{{options.id}}-shaandar-name" name="system.shaandars.shaandar1.name" value="{{data.shaandars.shaandar1.name}}">
                    <input class="shaandar-domain-input" id="{{options.id}}-shaandar-domain" name="system.shaandars.shaandar1.domain" value="{{data.shaandars.shaandar1.domain}}">
                </li>
                <li class="shaandar2">
                    <input class="shaandar-name-input" id="{{options.id}}-shaandar-name" name="system.shaandars.shaandar2.name" value="{{data.shaandars.shaandar2.name}}">
                    <input class="shaandar-domain-input" id="{{options.id}}-shaandar-domain" name="system.shaandars.shaandar2.domain" value="{{data.shaandars.shaandar2.domain}}">
                </li>
                <li class="shaandar3">
                    <input class="shaandar-name-input" id="{{options.id}}-shaandar-name" name="system.shaandars.shaandar3.name" value="{{data.shaandars.shaandar3.name}}">
                    <input class="shaandar-domain-input" id="{{options.id}}-shaandar-domain" name="system.shaandars.shaandar3.domain" value="{{data.shaandars.shaandar3.domain}}">
                </li>
                <li class="shaandar4">
                    <input class="shaandar-name-input" id="{{options.id}}-shaandar-name" name="system.shaandars.shaandar4.name" value="{{data.shaandars.shaandar4.name}}">
                    <input class="shaandar-domain-input" id="{{options.id}}-shaandar-domain" name="system.shaandars.shaandar4.domain" value="{{data.shaandars.shaandar4.domain}}">
                </li>
                <li class="shaandar5">
                    <input class="shaandar-name-input" id="{{options.id}}-shaandar-name" name="system.shaandars.shaandar5.name" value="{{data.shaandars.shaandar5.name}}">
                    <input class="shaandar-domain-input" id="{{options.id}}-shaandar-domain" name="system.shaandars.shaandar5.domain" value="{{data.shaandars.shaandar5.domain}}">
                </li>
                <li class="shaandar6">
                    <input class="shaandar-name-input" id="{{options.id}}-shaandar-name" name="system.shaandars.shaandar6.name" value="{{data.shaandars.shaandar6.name}}">
                    <input class="shaandar-domain-input" id="{{options.id}}-shaandar-domain" name="system.shaandars.shaandar6.domain" value="{{data.shaandars.shaandar6.domain}}">
                </li>
                <li class="shaandar7">
                    <input class="shaandar-name-input" id="{{options.id}}-shaandar-name" name="system.shaandars.shaandar7.name" value="{{data.shaandars.shaandar7.name}}">
                    <input class="shaandar-domain-input" id="{{options.id}}-shaandar-domain" name="system.shaandars.shaandar7.domain" value="{{data.shaandars.shaandar7.domain}}">
                </li>
                <li class="shaandar8">
                    <input class="shaandar-name-input" id="{{options.id}}-shaandar-name" name="system.shaandars.shaandar8.name" value="{{data.shaandars.shaandar8.name}}">
                    <input class="shaandar-domain-input" id="{{options.id}}-shaandar-domain" name="system.shaandars.shaandar8.domain" value="{{data.shaandars.shaandar8.domain}}">
                </li>
                <li class="shaandar9">
                    <input class="shaandar-name-input" id="{{options.id}}-shaandar-name" name="system.shaandars.shaandar9.name" value="{{data.shaandars.shaandar9.name}}">
                    <input class="shaandar-domain-input" id="{{options.id}}-shaandar-domain" name="system.shaandars.shaandar9.domain" value="{{data.shaandars.shaandar9.domain}}">
                </li>
                <li class="shaandar10">
                    <input class="shaandar-name-input" id="{{options.id}}-shaandar-name" name="system.shaandars.shaandar10.name" value="{{data.shaandars.shaandar10.name}}">
                    <input class="shaandar-domain-input" id="{{options.id}}-shaandar-domain" name="system.shaandars.shaandar10.domain" value="{{data.shaandars.shaandar10.domain}}">
                </li>
            </ol>
            <div class="shaandar-domain">

            </div>
        </div>
        <div class="motivations">
            <label class="motivations-label" for="{{options.id}}-shaani-motivations">{{localize "SRLabels.Motivations"}}</label>
            <textarea class="motivations-input" id="{{options.id}}-shaani-motivations" name="system.motivation" value="{{data.motivation}}" placeholder="{{data.motivation}}">{{data.motivation}}</textarea>
        </div>
    </div>
    <hr />
    <div class="biographyCategory campagne">
        <header>
           <h2>{{localize "SRLabels.campaign"}}</h2>
        </header>
        <div class="biography-notes">
            <label class="notes-label" for="{{actor.id}}-pc-notes">{{localize "SRLabels.notes"}}</label>
            <textarea class="notes-textarea" id="{{actor.id}}-pc-notes" name="system.biography.campagne.notes" value="{{data.biography.campagne.notes}}">{{data.biography.campagne.notes}}</textarea>
        </div>
        <div class="biography-allies">
            <label class="allies-label" for="{{actor.id}}-pc-allies">{{localize "SRLabels.allies"}}</label>
            <textarea class="allies-textarea" id="{{actor.id}}-pc-allies" name="system.biography.campagne.allies" value="{{data.biography.campagne.allies}}">{{data.biography.campagne.allies}}</textarea>
        </div>
        <div class="biography-enemies">
            <label class="enemies-label" for="{{actor.id}}-pc-enemies">{{localize "SRLabels.enemies"}}</label>
            <textarea class="enemies-textarea" id="{{actor.id}}-pc-enemies" name="system.biography.campagne.enemies" value="{{data.biography.campagne.enemies}}">{{data.biography.campagne.enemies}}</textarea>
        </div>
    </div>
</div>