<div class="tab powers" data-group="primary" data-tab="powers">
    <div class="pouvoir-compendium">
        <a class="open-compendium" data-compendium="shaanrenaissance.pouvoirs"><i class="fa-solid fa-list"></i> {{localize "SR.PouvoirCompendium"}}</a>
    </div>
    <ol class="pouvoirTrihn-list directory-list">
        <li class="item item-container pouvoirTrihn Esprit">
            <div class="trihn-header">
                <h3 class="item-name">
                    {{localize "SRLabels.pouvoirsEsprit"}}
                </h3>
                {{#ifeq editable true}}
                    <div class="item-controls">
                        <a class="item-control item-create"><i class="fas fa-fw fa-plus" id="Esprit-add"></i></a>
                    </div>
                {{/ifeq}}
            </div>
            <ol class="item-list liste-pouvoir liste-pouvoirEsprit">
                {{#each pouvoirEsprit as |pouvoir|}}
                <li class="item pouvoir" draggable="true" data-item-id="{{pouvoir._id}}">
                <div class="pouvoir-header">
                        <img src="{{pouvoir.img}}" data-edit="img">
                    <span class="pouvoir-name">
                        {{pouvoir.name}}
                    </span>
                    <div class="item-controls">
                        <a class="item-control pouvoir-chat"><i class="fa-solid fa-dice-d10"></i></a>
                        <a class="item-control item-edit"><i class="fas fa-fw fa-edit"></i></a>
                        <a class="item-control item-delete"><i class="fas fa-fw fa-trash"></i></a>
                    </div>
                </div>
                <div class="résumé">
                    <i>{{localize "SRLabels.résumé"}} : {{pouvoir.system.résumé.value}}
                    {{#ifnoteq pouvoir.system.activation.value ""}}
                    <br/>
                    {{localize "SR.pouvoirActivation"}}: {{pouvoir.system.activation.value}}{{#ifnoteq pouvoir.system.fréquence.value ""}} | {{/ifnoteq}}
                    {{/ifnoteq}}
                    {{#ifnoteq pouvoir.system.fréquence.value ""}}
                        {{#ifeq pouvoir.system.activation.value ""}}<br/>{{/ifeq}}
                    {{localize "SR.pouvoirFréquence"}}: {{pouvoir.system.fréquence.value}}
                    {{/ifnoteq}}
                    </i> 
                </div>
                </li>
                {{/each}}
            </ol>
        </li>
        <li class="item item-container pouvoirTrihn Ame">
            <div class="trihn-header">
                <h3 class="item-name">
                    {{localize "SRLabels.pouvoirsAme"}}
                </h3>
                {{#ifeq editable true}}
                    <div class="item-controls">
                        <a class="item-control item-create"><i class="fas fa-fw fa-plus" id="Ame-add"></i></a>
                    </div>
                {{/ifeq}}
            </div>
            <ol class="item-list liste-pouvoir liste-pouvoirAme">
                {{#each pouvoirAme as |pouvoir|}}
                <li class="item pouvoir" draggable="true" data-item-id="{{pouvoir._id}}">
                <div class="pouvoir-header">
                        <img src="{{pouvoir.img}}" data-edit="img">
                    <span class="pouvoir-name">
                        {{pouvoir.name}}
                    </span>
                    <div class="item-controls">
                        <a class="item-control pouvoir-chat"><i class="fa-solid fa-dice-d10"></i></a>
                        <a class="item-control item-edit"><i class="fas fa-fw fa-edit"></i></a>
                        <a class="item-control item-delete"><i class="fas fa-fw fa-trash"></i></a>
                    </div>
                </div>
                <div class="résumé">
                    <i>{{localize "SRLabels.résumé"}} : {{pouvoir.system.résumé.value}}
                    {{#ifnoteq pouvoir.system.activation.value ""}}
                    <br/>
                    {{localize "SR.pouvoirActivation"}}: {{pouvoir.system.activation.value}}{{#ifnoteq pouvoir.system.fréquence.value ""}} | {{/ifnoteq}}
                    {{/ifnoteq}}
                    {{#ifnoteq pouvoir.system.fréquence.value ""}}
                        {{#ifeq pouvoir.system.activation.value ""}}<br/>{{/ifeq}}
                    {{localize "SR.pouvoirFréquence"}}: {{pouvoir.system.fréquence.value}}
                    {{/ifnoteq}}
                    </i> 
                </div>
                </li>
                {{/each}}
            </ol>
        </li>
        <li class="item item-container pouvoirTrihn Corps">
            <div class="trihn-header">
                <h3 class="item-name">
                    {{localize "SRLabels.pouvoirsCorps"}}
                </h3>
                {{#ifeq editable true}}
                    <div class="item-controls">
                        <a class="item-control item-create"><i class="fas fa-fw fa-plus" id="Corps-add"></i></a>
                    </div>
                {{/ifeq}}
            </div>
            <ol class="item-list liste-pouvoir liste-pouvoirCorps">
                {{#each pouvoirCorps as |pouvoir|}}
                <li class="item pouvoir" draggable="true" data-item-id="{{pouvoir._id}}">
                <div class="pouvoir-header">
                        <img src="{{pouvoir.img}}" data-edit="img">
                    <span class="pouvoir-name">
                        {{pouvoir.name}}
                    </span>
                    <div class="item-controls">
                        <a class="item-control pouvoir-chat"><i class="fa-solid fa-dice-d10"></i></a>
                        <a class="item-control item-edit"><i class="fas fa-fw fa-edit"></i></a>
                        <a class="item-control item-delete"><i class="fas fa-fw fa-trash"></i></a>
                    </div>
                </div>
                <div class="résumé">
                    <i>{{localize "SRLabels.résumé"}} : {{pouvoir.system.résumé.value}}
                    {{#ifnoteq pouvoir.system.activation.value ""}}
                    <br/>
                    {{localize "SR.pouvoirActivation"}}: {{pouvoir.system.activation.value}}{{#ifnoteq pouvoir.system.fréquence.value ""}} | {{/ifnoteq}}
                    {{/ifnoteq}}
                    {{#ifnoteq pouvoir.system.fréquence.value ""}}
                        {{#ifeq pouvoir.system.activation.value ""}}<br/>{{/ifeq}}
                    {{localize "SR.pouvoirFréquence"}}: {{pouvoir.system.fréquence.value}}
                    {{/ifnoteq}}
                    </i> 
                </div>
                </li>
                {{/each}}
            </ol>
        </li>
        <li class="item item-container pouvoirTrihn Nécrose">
            <div class="trihn-header">
                <h3 class="item-name">
                    {{localize "SRLabels.pouvoirsNecrose"}}
                </h3>
                {{#ifeq editable true}}
                    <div class="item-controls">
                        <a class="item-control item-create"><i class="fas fa-fw fa-plus" id="Nécrose-add"></i></a>
                    </div>
                {{/ifeq}}
            </div>
            <ol class="item-list liste-pouvoir liste-pouvoirNécrose">
                {{#each pouvoirNecrose as |pouvoir|}}
                <li class="item pouvoir" draggable="true" data-item-id="{{pouvoir._id}}">
                <div class="pouvoir-header">
                        <img src="{{pouvoir.img}}" data-edit="img">
                    <span class="pouvoir-name">
                        {{pouvoir.name}}
                    </span>
                    <div class="item-controls">
                        <a class="item-control pouvoir-chat"><i class="fa-solid fa-dice-d10"></i></a>
                        <a class="item-control item-edit"><i class="fas fa-fw fa-edit"></i></a>
                        <a class="item-control item-delete"><i class="fas fa-fw fa-trash"></i></a>
                    </div>
                </div>
                <div class="résumé">
                    <i>{{localize "SRLabels.résumé"}} : {{pouvoir.system.résumé.value}}
                    {{#ifnoteq pouvoir.system.activation.value ""}}
                    <br/>
                    {{localize "SR.pouvoirActivation"}}: {{pouvoir.system.activation.value}}{{#ifnoteq pouvoir.system.fréquence.value ""}} | {{/ifnoteq}}
                    {{/ifnoteq}}
                    {{#ifnoteq pouvoir.system.fréquence.value ""}}
                        {{#ifeq pouvoir.system.activation.value ""}}<br/>{{/ifeq}}
                    {{localize "SR.pouvoirFréquence"}}: {{pouvoir.system.fréquence.value}}
                    {{/ifnoteq}}
                    </i> 
                </div>
                </li>
                {{/each}}
            </ol>
        </li>


    </ol>
</div>