<div class="tab symbioses" data-group="primary" data-tab="symbioses">
    <ol class="liste-symbioses">
        <li class="titre-symbioses">
            <div class="symbioses-titre">
                {{localize "SRsymbioses.symbioseLabel"}}
            </div>
            <div class="symbioses-cout">
                {{localize "SRsymbioses.costLabel"}}
            </div>
            <div class="symbioses-acquis">
                {{localize "SRsymbioses.acquisLabel"}}
            </div>
            <div class="symbioses-frequence">
                {{localize "SRsymbioses.frequenceLabel"}}
            </div>
            <div class="symbioses-description">
                {{localize "SRsymbioses.descriptionLabel"}}
            </div>
        </li>
        {{#each data.symbioses as |symbiose|}}
        <li>
            <div class="symbioses-titre">
                {{symbiose.label}}
            </div>
            <div class="symbioses-cout">
                {{symbiose.cout}}
            </div>
            <div class="symbioses-acquis">
                <input type="checkbox">
            </div>
            <div class="symbioses-frequence">
                {{symbiose.frequence}}{{symbiose.durée}}
            </div>
            <div class="symbioses-description">
                <a title="{{symbiose.description}}"><i class="fa-regular fa-circle-question" title="{{symbiose.description}}"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>
</div>