<form class="actor sheet crb-style npc" autocomplete="off">
    <div class="npc-stats">
        <section class="npc-HP">
            <span class="TrihnsLabel">{{localize "SRLabels.Trihns"}} <a class="regen-hp" title="{{localize "SR.RegenTitle"}}"><i class="fa-solid fa-bed"></i></a></span>
                <div class="hp-esprit">
                    <span class="esprit-label"><h3 class="sidebar_label">{{localize "SRLabels.Esprit"}}</h3></span>
                    <span class="esprit-base"><h3 class="details-label">{{localize "SRLabels.HPActuel"}}</h3></span>
                    <div class="data-value hpActuel-esprit" title="Esprit Actuel">
                        <input class="select-input" name="system.attributes.hpEsprit.value" id="{{option.id}}-pc-hp-esprit-value" type="number" value="{{data.attributes.hpEsprit.value}}" max="{{data.attributes.hpEsprit.max}}">
                    </div>
                    <span class="esprit-max"><h3 class="details-label">{{localize "SRLabels.HPMax"}}</h3></span>
                    <div class="data-value hpMax-esprit" title="Esprit Max">          
                    <h2 class="hpMax-Esprit">{{data.attributes.hpEsprit.max}}</h2>                       
                    </div>
                </div>
                <div class="hp-ame">
                    <span class="ame-label"><h3 class="sidebar_label">{{localize "SRLabels.Ame"}}</h3></span>
                    <span class="esprit-base"><h3 class="details-label">{{localize "SRLabels.HPActuel"}}</h3></span>
                    <div class="data-value hpActuel-ame" title="Âme Actuel">
                        <input class="select-input" name="system.attributes.hpAme.value" id="{{option.id}}-pc-hp-ame-value" type="number" value="{{data.attributes.hpAme.value}}" max="{{data.attributes.hpAme.max}}">
                    </div>
                    <span class="ame-corps"><h3 class="details-label">{{localize "SRLabels.HPMax"}}</h3></span>
                    <div class="data-value hpMax-ame" title="Âme Max">
                    <h2 class="hpMax-Ame">{{data.attributes.hpAme.max}}</h2>                        
                    </div>
                </div>
                <div class="hp-corps">
                    <span class="corps-label"><h3 class="sidebar_label">{{localize "SRLabels.Corps"}}</h3></span>
                    <span class="corps-base"><h3 class="details-label">{{localize "SRLabels.HPActuel"}}</h3></span>
                    <div class="data-value hpActuel-corps" title="Corps Actuel">
                        <input class="select-input" name="system.attributes.hpCorps.value" id="{{option.id}}-pc-hp-corps-value" type="number" value="{{data.attributes.hpCorps.value}}" max="{{data.attributes.hpCorps.max}}">
                    </div>
                    <span class="corps-max"><h3 class="details-label">{{localize "SRLabels.HPMax"}}</h3></span>
                    <div class="data-value hpMax-corps" title="Corps Max">
                        <h2 class="hpMax-Corps">{{data.attributes.hpCorps.max}}</h2> 
                    </div>
                </div>
        </section>
        {{> "systems/shaanrenaissance/templates/actors/PNJ/partials/armor.hbs"}}
        <hr/>
        <section class="npc-cercle">
        <span class="DomainsLabel">{{localize "SRLabels.DomainsTitle"}}</span>
        {{> "systems/shaanrenaissance/templates/actors/PNJ/partials/cercle.hbs"}}
        </section>
        <hr/>
        <section class="npc-spés">
            <span class="SpecialisationsLabel">{{localize "SRLabels.SpecialisationsTitle"}}</span>
            {{> "systems/shaanrenaissance/templates/actors/PNJ/partials/specialisations.hbs"}}
        </section>
    </div>
    <div class="npc-infos">
        <div class="npc-general">
            {{> "systems/shaanrenaissance/templates/actors/PNJ/partials/general.hbs"}}
        </div>
        <div class="npc-dice">
            <div class="roll-data initiative" data-item-id="initiative" style="display: flex; flex-direction: row; color: var(--primary)">
                <a class="roll-initiative">
                <h2 style="border: none;">{{localize "SRLabels.Initiative"}}</h2>    
                </a>
                <h4 class="initiative-select" style="margin-left:5px;">
                    <select name="system.attributes.initiative.statistic"> 
                            {{#select data.attributes.initiative.statistic}}
                            {{#each config.SRdomains as |skill|}}
                                <option value="{{skill}}">{{skill}}</option>
                            {{/each}}
                            {{/select}}
                    </select>
                </h4>
                <input class="initiative-score" name="system.attributes.initiative.value" value="{{data.attributes.initiative.value}}" style="visibility:hidden"/>
            </div>
            <div class="roll-data domain-test" data-item-id="domainTest" style="display: flex; flex-direction: row;">
                <a class="roll-icon">
                    <img src="systems/shaanrenaissance/assets/sheet/dés_domaine.png">
                </a>
            <h3>{{localize "SRLabels.DomainTest"}}</h3>
            </div>
            <div class="roll-data necrose-test" data-item-id="necroseTest" style="display: flex; flex-direction: row;">
                <a class="roll-icon">
                {{#ifeq Race.name "Humain"}}
                <img src="systems/shaanrenaissance/assets/sheet/dés_nécroseH.png">
                {{/ifeq}}   
                {{#ifnoteq Race.name "Humain"}}
                <img src="systems/shaanrenaissance/assets/sheet/dés_nécrose.png">
                {{/ifnoteq}}   
                </a>
                <h3>{{localize "SRLabels.NecroseTest"}}</h3>
            </div>
        </div>
        <div class="npc-reserve">
            {{~> "systems/shaanrenaissance/templates/actors/PNJ/partials/NPC-reserve.hbs"}}
        </div>
        <div class="npc-bio">
            {{~> "systems/shaanrenaissance/templates/actors/PNJ/partials/bio.hbs"}}
        </div>
        <div class="npc-powers">
            {{> "systems/shaanrenaissance/templates/actors/PNJ/partials/powers.hbs"}}
        </div>


        <div class="npc-acquis">
            {{> "systems/shaanrenaissance/templates/actors/PNJ/partials/acquis.hbs"}}
        </div>
        
    </div>
</form>