<form>
    <div class="form-group">
        <label>{{localize "SRLabels.Esprit"}}</label>
        <select name="esprit.domain">
                <option value="Technique">{{localize "SRdomains.Technique"}}</option>
                <option value="Savoir">{{localize "SRdomains.Savoir"}}</option>
                <option value="Social">{{localize "SRdomains.Social"}}</option>
        </select>
        <select name="esprit.spe" class="spe">
            <option value="pur">{{localize "SR.jetPur"}}</option>
            {{#each actor.system.skills as |domain|}}
                <optgroup label="{{@key}}">
                    {{#each domain.specialisations as |spé|}}
                        <option value="{{@key}}">{{localize @key}}</option>
                    {{/each}}
                </optgroup> 
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label>{{localize "SRLabels.Ame"}}</label>
        <select name="ame.domain">
                <option value="Arts">{{localize "SRdomains.Arts"}}</option>
                <option value="Shaan">{{localize "SRdomains.Shaan"}}</option>
                <option value="Magie">{{localize "SRdomains.Magie"}}</option>
                <option value="Nécrose">{{localize "SRdomains.Nécrose"}}</option>
        </select>
        <select name="ame.spe" class="spe">
            <option value="pur">{{localize "SR.jetPur"}}</option>
            {{#each actor.system.skills as |domain|}}
                <optgroup label="{{@key}}">
                    {{#each domain.specialisations as |spé|}}
                        <option value="{{@key}}">{{localize @key}}</option>
                    {{/each}}
                </optgroup> 
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label>{{localize "SRLabels.Corps"}}</label>
        <select name="corps.domain">
                <option value="Rituels">{{localize "SRdomains.Rituels"}}</option>
                <option value="Survie">{{localize "SRdomains.Survie"}}</option>
                <option value="Combat">{{localize "SRdomains.Combat"}}</option>
        </select>
        <select name="corps.spe" class="spe">
            <option value="pur">{{localize "SR.jetPur"}}</option>
            {{#each actor.system.skills as |domain|}}
                <optgroup label="{{@key}}">
                    {{#each domain.specialisations as |spé|}}
                        <option value="{{@key}}">{{localize @key}}</option>
                    {{/each}}
                </optgroup> 
            {{/each}}
        </select>
    </div>
</form>