<div class="hover-content manage-tabs">
    <ul>
        <li class="item">
            <label>{{localize "SRTabs.CharacterLabel"}}</label>
            <input type="checkbox" data-tab-name="character" />
        </li>
        <li class="item">
            <label>{{localize "SRTabs.PowersLabel"}}</label>
            <input type="checkbox" data-tab-name="powers" />
        </li>
        <li class="item">
            <label>{{localize "SRTabs.MagicLabel"}}</label>
            <input type="checkbox" data-tab-name="magic" />
        </li>
        <li class="item">
            <label>{{localize "SRTabs.AcquisLabel"}}</label>
            <input type="checkbox" data-tab-name="acquis" />
        </li>
        <li class="item">
            <label>{{localize "SRTabs.DetailsLabel"}}</label>
            <input type="checkbox" data-tab-name="details" />
        </li>
    </ul>
</div>