<form class="actor sheet crb-style reseau" autocomplete="off">
    <aside>
        <div class="logo">
        <img class="logo-img" src="systems/shaanrenaissance/assets/shaan-foundry-logo_rouge.webp" height="100px" alt="Shaan Renaissance" srcset=""/>
        </div>
        <div class="sidebar" data-group="dashboard" data-tab="sidebar">
            {{!-- Trihns --}}
            {{> "systems/shaanrenaissance/templates/actors/Réseau/sidebar/health.hbs"}}

            <!-- Armure  -->
            {{> "systems/shaanrenaissance/templates/actors/Réseau/sidebar/armor.hbs"}}

            <!-- Initiative -->
            {{> "systems/shaanrenaissance/templates/actors/Réseau/sidebar/initiative.hbs"}}

            <!-- Jets -->
            {{> "systems/shaanrenaissance/templates/actors/Réseau/sidebar/jets.hbs"}}
            
            <!-- Reserve -->
            {{> "systems/shaanrenaissance/templates/actors/Réseau/sidebar/reserve.hbs"}}
        </div>
    </aside>

    <!-- HEADER -->
    {{> "systems/shaanrenaissance/templates/actors/Réseau/partials/header.hbs"}}

    {{!-- SHEET NAVIGATION --}}
 <nav class="sheet-navigation" data-group="primary">
        <span class="navigation-title">{{localize "SRTabs.RéseauLabel"}}</span>
        <a class="item" data-tab="character" title="{{localize "SRTabs.RéseauLabel"}}">
            <img src="systems/shaanrenaissance/assets/icons/navbar/icon_general.webp" title="{{localize "SRTabs.RéseauLabel"}}">
        </a>

        <a class="item" data-tab="powers" title="{{localize "SRTabs.PowersLabel"}}">
            <img src="systems/shaanrenaissance/assets/icons/navbar/icon_pouvoir.webp" title="{{localize "SRTabs.PowersLabel"}}">
        </a>
        <a class="item" data-tab="magic" title="{{localize "SRTabs.MagicLabel"}}">
            <img src="systems/shaanrenaissance/assets/icons/navbar/icon_magie.webp" title="{{localize "SRTabs.MagicLabel"}}">
        </a>
        <a class="item" data-tab="acquis" title="{{localize "SRTabs.AcquisLabel"}}">
            <img src="systems/shaanrenaissance/assets/icons/navbar/icon_acquis.webp" title="{{localize "SRTabs.AcquisLabel"}}">
        </a>

        <a class="item" data-tab="details" title="{{localize "SRTabs.DetailsLabel"}}">
            <img src="systems/shaanrenaissance/assets/icons/navbar/icon_biographie.webp" title="{{localize "SRTabs.DetailsLabel"}}">
        </a>

        <a class="manage-tabs" data-action="manage-tabs" title="{{localize "SRTabs.ManageTabsLabel"}}">
            <i class="fas fa-fw fa-ellipsis-v" title="{{localize "SRTabs.ManageTabsLabel"}}"></i>
        </a>
</nav>

    <section class="sheet-body">
        <section class="sheet-content">
            {{!-- Character --}}
            {{~> "systems/shaanrenaissance/templates/actors/Réseau/tabs/general.hbs"}}
            {{!-- Powers --}}
            {{~> "systems/shaanrenaissance/templates/actors/Réseau/tabs/powers.hbs"}}
            {{!-- Magic --}}
            {{~> "systems/shaanrenaissance/templates/actors/partials/magic.hbs"}}
            {{!-- Acquis --}}
            {{~> "systems/shaanrenaissance/templates/actors/Réseau/tabs/acquis.hbs"}}
            {{!-- Details --}}
            {{~> "systems/shaanrenaissance/templates/actors/Réseau/tabs/details.hbs"}}   
        </section>
    </section>
</form>
