<form class="item sheet crb-style trihn" autocomplete="off">
    <header class="sheet-header">
        <h2 class="item-name">
            <input name="name" type="text" value="{{item.name}}" placeholder="Nom du item" spellcheck="false" />
        </h2>
    </header>
    <div class="trihn-details">
        <span class="trihn-type">
            <select name="system.trihnType">
                {{#select data.trihnType}}
                {{#each item.system.trihnTypes}}
                    <option value="{{@key}}">{{@key}}</option>
                {{/each}}
                {{/select}}
            </select>
        </span>
        <div class="puissance">
            <input type="number" name="system.puissance" value="{{data.puissance}}"/>
        </div>
        <div class="emplacement">
            <input name="system.emplacement" value="{{data.emplacement}}"/>
        </div>
    </div>
</form>