<div class="dice-roll SR domainTest chat-card" data-actor-id="{{actorID}}">
  <h2 class="title">
    <div class="check-type">{{localize "chat.domainTest.title" type=type}}</div>
  </h2>
  <div class="domainDice">
    {{log this}}
  {{#with roll.terms as |data|}}
    {{#each data as |dice|}}
        {{#with dice.rolls as |die|}}
            {{#each die as |dieInfo|}}
            {{#ifeq dieInfo.formula "1d10[Esprit]"}}
            <div class="die Esprit" data-dominated="{{#if @root.dominated}}true{{else}}false{{/if}}">
              {{#unless @root.dominated}}
                <img src="systems/shaanrenaissance/assets/icons/dice-result/Esprit/d10_jaune_{{dieInfo.total}}.png">
              {{/unless}}
            <input type="hidden" class="dice-value" value="{{#if @root.dominated}}0{{else}}{{dieInfo.total}}{{/if}}">
            </div>
            {{/ifeq}}
            {{#ifeq dieInfo.formula "1d10[Ame]"}}
            <div class="die Ame" data-bewitched="{{#if @root.bewitched}}true{{else}}false{{/if}}">
              {{#unless @root.bewitched}}
                <img src="systems/shaanrenaissance/assets/icons/dice-result/Ame/d10_bleu_{{dieInfo.total}}.png">
              {{/unless}}
            <input type="hidden" class="dice-value" value="{{#if @root.bewitched}}0{{else}}{{dieInfo.total}}{{/if}}">
            </div>
            {{/ifeq}}
              {{#ifeq dieInfo.formula "1d10[Corps]"}}
              <div class="die Corps" data-paralyzed="{{#if @root.paralyzed}}true{{else}}false{{/if}}">
              {{#unless @root.paralyzed}}
                <img src="systems/shaanrenaissance/assets/icons/dice-result/Corps/d10_rouge_{{dieInfo.total}}.png">
              {{/unless}}
              <input type="hidden" class="dice-value" value="{{#if @root.paralyzed}}0{{else}}{{dieInfo.total}}{{/if}}">
              </div>
              {{/ifeq}}
            {{/each}}
        {{/with}}
    {{/each}}
{{/with}}
    </div>
    <button class="puiser">Puiser</button>
    <hr/>
    {{#ifnoteq roll.symbiose "Not"}}
    <div class="symbiose {{#ifeq roll.symbiose "Réussite"}}Réussite{{/ifeq}} {{#ifeq roll.symbiose "Echec"}}Echec{{/ifeq}}">
      {{#ifeq roll.symbiose "Réussite"}}
        <span class="SymbioseRéussite">{{localize "SR.SymbioseRéussite"}}</span>
      {{/ifeq}}
      {{#ifeq roll.symbiose "Echec"}}
        <span class="SymbioseEchec">{{localize "SR.SymbioseEchec"}}</span>
      {{/ifeq}}
    </div>
    {{/ifnoteq}}
    <div class="domainInfos">
      <span>{{localize "chat.domainTest.options.domain"}} <span class="domainName">{{roll.data.domain}}</span> - <b class="domain">{{roll.data.domainLevel}}</b></span>
      {{#ifeq roll.data.isPure false}}
      <span>{{localize "chat.domainTest.options.spécialisation"}} {{localize roll.data.spécialisation}}</span>
      <span>{{localize "chat.domainTest.options.bonus"}}: {{#ifeq roll.data.spéBonus null}}+ 0{{/ifeq}}{{#if roll.data.spéBonus }}+ <b class="spéBonus">{{roll.data.spéBonus}}</b>{{/if}}</span>
      <span>{{localize "chat.domainTest.options.acquis"}}: {{#ifeq roll.data.spéAcquis null}}+ 0{{/ifeq}}{{#if roll.data.spéAcquis}}+ <b class="acquisBonus">{{roll.data.spéAcquis }}</b>{{/if}}</span>
      {{/ifeq}}
      {{#if roll.data.difficulty}}
        <span>{{localize "chat.domainTest.options.difficulty"}} {{roll.data.difficulty}}</span>
      {{/if}}
      {{> "systems/shaanrenaissance/templates/chat/partials/chat-conditions.hbs"}}
    </div>
    <div class="result-container {{#ifeq isSuccess true}}success{{/ifeq}}{{#ifeq isSuccess false}}fail{{/ifeq}}">
      <span class="check-result">{{#ifeq isSuccess true}}{{localize "SR.Réussite"}}: {{/ifeq}}{{#ifnoteq isSuccess true}}{{localize "SR.Echec"}}{{/ifnoteq}}</span>{{#ifeq isSuccess true}}<span class="check-score">{{score}}</span>{{/ifeq}}
    </div>
</div>