<form>
  <div class="form-group">
    <label>{{localize "chat.domainTest.options.domain"}}</label>
    <select name="domain" value="{{domain}}">
      <option>Test</option>
      <option>Test2</option>
    </select>
  </div>
  <div class="form-group">
    <label>{{localize "chat.domainTest.options.spécialisation"}}</label>
    <select name="spé" value="{{spé}}">

    </select>
  </div>
  <div class="form-group">
    <label>{{localize "chat.domainTest.options.difficulty"}}</label>
    <input type="text" name="difficulty" value="{{difficulty}}"/>
  </div>
</form>
