<form>
  <div class="form-group">
    <label>{{localize "chat.domainTest.options.domain"}}</label>
    <select class="domainCheck-domain" name="domain" value="{{domain}}">
      {{#select domain}}
      {{#each actor.system.skills as |domainItem|}}
      {{#ifeq @key "Nécrose"}}
      <option value="{{@key}}">{{@key}}</option>
      {{/ifeq}}
      {{/each}}
      {{/select}}
    </select>
  </div>
  <div class="form-group">
    <label>{{localize "chat.domainTest.options.spécialisation"}}</label>
    <select name="spécialisation" value="{{spécialisation}}">
      {{#each actor.system.skills as |domainItem|}}
      <optgroup label="{{@key}}">
          {{#each domainItem.specialisations as |spé|}}
            <option value="{{@key}}">{{localize @key}}</option>
          {{/each}}
      </optgroup> 
      {{/each}}
    </select>
  </div>
  <div class="form-group">
    <label>{{localize "chat.domainTest.options.difficulty"}}</label>
    <input type="text" name="difficulty" value="{{difficulty}}"/>
  </div>
</form>
