<div class="dice-roll SR necroseTest chat-card" data-actor-id="{{actorID}}">
  <h2 class="title">
    <div class="check-type">{{localize "chat.necroseTest.title" type=type}}</div>
  </h2>
  <div class="domainDice">
        <div class="die Nécrose">
        <img src="systems/Shaan_Renaissance/assets/icons/dice-result/Nécrose/d10_noir_{{roll.total}}.png">
        </div>
    </div>
    <hr/>
    <div class="domainInfos">
      <span>{{localize "chat.domainTest.options.domain"}} {{roll.data.domain}} - {{roll.data.domainLevel}}</span>
      <span>{{localize "chat.domainTest.options.spécialisation"}} {{localize roll.data.spécialisation}}</span>
      <span>{{localize "chat.domainTest.options.bonus"}}: {{#ifeq roll.data.spéBonus null}}+ 0{{/ifeq}}{{#if roll.data.spéBonus }}+ {{roll.data.spéBonus}}{{/if}}</span>
      <span>{{localize "chat.domainTest.options.acquis"}}: {{#ifeq roll.data.spéAcquis null}}+ 0{{/ifeq}}{{#if roll.data.spéAcquis}}+ {{roll.data.spéAcquis }}{{/if}}</span>
    </div>
</div>

</div>