<div class="puiser SR chat-card" data-actor-id="{{actorID}}">
    <span>{{Token.document.name}} {{localize "chat.puiser.aPuisé"}} {{localize this.trihns.flavor1}}{{#if trihns.flavor2}} {{localize "chat.puiser.et"}} {{localize this.trihns.flavor2}}{{/if}}.</span>
    <span>{{localize "chat.puiser.score"}} <b>{{score}}</b>.</span>
</div>
