<div class="SR regenHP-chat chat-card" data-actor-id="{{actorID}}">
    <span>{{actor.name}} {{localize "SR.regenHP-rest"}}</span><br/>
    <hr/>
    <span>{{localize "SR.TrihnEsprit"}}:</span> <span>{{actor.system.attributes.hpEsprit.temp}} / {{actor.system.attributes.hpEsprit.value}}</span><br/>
    <span>{{localize "SR.TrihnAme"}}:</span> <span>{{actor.system.attributes.hpAme.temp}} / {{actor.system.attributes.hpAme.value}}</span><br/>
    <span>{{localize "SR.TrihnCorps"}}:</span> <span>{{actor.system.attributes.hpCorps.temp}} / {{actor.system.attributes.hpCorps.value}}</span><br/>
</div>