<div class="SR regenHP-chat chat-card" data-actor-id="{{actorID}}">
    <span>{{actor.name}} {{localize "SR.regenHP-rest"}}</span><br/>
    <hr/>
    <span>{{localize "SR.TrihnEsprit"}}:</span> <span>{{actor.system.attributes.hpEsprit.value}} / {{actor.system.attributes.hpEsprit.max}}</span><br/>
    <span>{{localize "SR.TrihnAme"}}:</span> <span>{{actor.system.attributes.hpAme.value}} / {{actor.system.attributes.hpAme.max}}</span><br/>
    <span>{{localize "SR.TrihnCorps"}}:</span> <span>{{actor.system.attributes.hpCorps.value}} / {{actor.system.attributes.hpCorps.max}}</span><br/>
</div>