<form>
    <div class="form-group">
        <label>{{localize "chat.regenHP.malusEsprit"}}</label>
        <input type="text" name="malusEsprit" value="{{malusEsprit}}"/>
    </div>
    <div class="form-group">
        <label>{{localize "chat.regenHP.malusAme"}}</label>
        <input type="text" name="malusAme" value="{{malusAme}}"/>
    </div>
    <div class="form-group">
        <label>{{localize "chat.regenHP.malusCorps"}}</label>
        <input type="text" name="malusCorps" value="{{malusCorps}}"/>
    </div>
</form>