<div class="dice-roll SR necroseTest chat-card" data-actor-id="{{actorID}}">
  <h2 class="title">
    <div class="check-type">{{localize "chat.necroseTest.title" type=type}}</div>
  </h2>
  <div class="domainDice">
{{#ifeq @root.roll.data.race "Humain"}}
  <div class="domainDiceH">
        {{#with roll.terms as |data|}}
    {{#each data as |dice|}}
        {{#with dice.rolls as |die|}}
            {{#each die as |dieInfo|}}
            {{#ifeq dieInfo.formula "1d10[Esprit]"}}
            <div class="die Esprit" data-dominated="{{#if @root.dominated}}true{{else}}false{{/if}}">
            {{#unless @root.dominated}}
              <img src="systems/shaanrenaissance/assets/icons/dice-result/Esprit/d10_jaune_{{dieInfo.total}}.png">
            {{/unless}}
            <input type="hidden" class="dice-value" value="{{dieInfo.total}}">
            </div>
            {{/ifeq}}
            {{#ifeq dieInfo.formula "1d10[Necrose]"}}
            <div class="die Nécrose">
            <img src="systems/shaanrenaissance/assets/icons/dice-result/Nécrose/d10_noir_{{dieInfo.total}}.png">
            <input type="hidden" class="dice-value" value="{{dieInfo.total}}">
            </div>
            {{/ifeq}}
            {{/each}}
          {{/with}}
        {{/each}}
      {{/with}}
    </div>
    {{/ifeq}}
    {{#ifnoteq @root.roll.data.race "Humain"}}
    <div class="domainDice">
        {{#with roll.terms as |data|}}
        {{#each data as |dice|}}
            {{#ifeq dice.formula "1d10[Necrose]"}}
              <div class="die Nécrose">
                <img src="systems/shaanrenaissance/assets/icons/dice-result/Nécrose/d10_noir_{{dice.total}}.png">
              </div>
            {{/ifeq}}
        {{/each}}
      {{/with}}
    </div>
    {{/ifnoteq}}
    </div>
    {{log @root}}
    {{#ifeq @root.race "Humain"}}
    <button class="puiser-necrose">Puiser</button>
    {{/ifeq}}
    <hr/>
    <div class="domainInfos">
      <span>{{localize "chat.domainTest.options.domain"}} {{roll.data.domain}} - <b class="domain">{{roll.data.domainLevel}}</b></span>
      <span>{{localize "chat.domainTest.options.spécialisation"}} {{localize roll.data.spécialisation}}</span>
      <span>{{localize "chat.domainTest.options.bonus"}}: {{#ifeq roll.data.spéBonus null}}+ 0{{/ifeq}}{{#if roll.data.spéBonus }}+ <b class="spéBonus">{{roll.data.spéBonus}}</b>{{/if}}</span>
      <span>{{localize "chat.domainTest.options.acquis"}}: {{#ifeq roll.data.spéAcquis null}}+ 0{{/ifeq}}{{#if roll.data.spéAcquis}}+ <b class="acquisBonus">{{roll.data.spéAcquis }}</b>{{/if}}</span>
      {{#if roll.data.difficulty}}
        <span>{{localize "chat.domainTest.options.difficulty"}} {{roll.data.difficulty}}</span>
      {{/if}}
      {{> "systems/shaanrenaissance/templates/chat/partials/chat-conditions.hbs"}}

    </div>
    <div class="result-container {{#ifeq isSuccess true}}success{{/ifeq}}{{#ifeq isSuccess false}}fail{{/ifeq}}">
      <span class="check-result">{{#ifeq isSuccess true}}{{localize "SR.Réussite"}}: {{/ifeq}}{{#ifnoteq isSuccess true}}{{localize "SR.Echec"}}{{/ifnoteq}}</span>{{#ifeq isSuccess true}}<span class="check-score">{{score}}</span>{{/ifeq}}
    </div>
</div>
