<form>
  <b><span>{{localize domain}} - {{localize spécialisation}}</span></b>
  <p>{{description}}</p>
  <div class="form-group">
    <label>{{localize "chat.domainTest.options.difficulty"}}</label>
    <input type="text" name="difficulty" value="{{difficulty}}"/>
  </div>
</form>
