<div class="dice-roll SR domainTest chat-card" data-actor-id="{{actorID}}">
  <h2 class="title">
    <div class="check-type">{{localize "chat.domainTest.title" type=type}}</div>
  </h2>
  <div class="domainDice">
  {{#with roll.terms as |data|}}
    {{#each data as |dice| }}
        {{#with dice.rolls as |die|}}
            {{#each die as |dieInfo|}}
            {{#ifeq dieInfo.formula "1d10[yellow]"}}
            <div class="die Esprit">
            <img src="systems/Shaan_Renaissance/assets/icons/dice-result/Esprit/d10_jaune_{{dieInfo.total}}.png">
            </div>
            {{/ifeq}}
            {{#ifeq dieInfo.formula "1d10[blue]"}}
            <div class="die Ame">
            <img src="systems/Shaan_Renaissance/assets/icons/dice-result/Ame/d10_bleu_{{dieInfo.total}}.png">
            </div>
            {{/ifeq}}
            {{#ifeq dieInfo.formula "1d10[red]"}}
            <div class="die Corps">
            <img src="systems/Shaan_Renaissance/assets/icons/dice-result/Corps/d10_rouge_{{dieInfo.total}}.png">
            </div>
            {{/ifeq}}
            {{/each}}
        {{/with}}
    {{/each}}
{{/with}}
    </div>
    <hr/>
    <div class="domainInfos">
      <span>{{localize "chat.domainTest.options.domain"}} {{roll.data.domain}} - {{roll.data.domainLevel}}</span>
      <span>{{localize "chat.domainTest.options.spécialisation"}} {{localize roll.data.spécialisation}}</span>
      <span>{{localize "chat.domainTest.options.bonus"}}: {{#ifeq roll.data.spéBonus null}}+ 0{{/ifeq}}{{#if roll.data.spéBonus }}+ {{roll.data.spéBonus}}{{/if}}</span>
      <span>{{localize "chat.domainTest.options.acquis"}}: {{#ifeq roll.data.spéAcquis null}}+ 0{{/ifeq}}{{#if roll.data.spéAcquis}}+ {{roll.data.spéAcquis }}{{/if}}</span>
    </div>
</div>
