<div class="dice-roll SR trihnTest chat-card" data-actor-id="{{actorID}}">
  <h2 class="title">
    <div class="check-type">{{localize "chat.trihnTest.title" type=type}}</div>
  </h2>
  <div class="domainDice">
        <img src="systems/shaanrenaissance/assets/icons/dice-result/{{roll.data.trihn}}/d10_{{#ifeq roll.data.trihn "Esprit"}}jaune{{/ifeq}}{{#ifeq roll.data.trihn "Ame"}}bleu{{/ifeq}}{{#ifeq roll.data.trihn "Corps"}}rouge{{/ifeq}}_{{roll._total}}.png">
    </div>
    <hr/>
    <div class="domainInfos">
      <span>{{localize "chat.trihnTest.trihnActuel"}} {{roll.data.trihn}} - <b>{{roll.data.maxTest}}</b></span>
      {{#if roll.data.difficulty}}
        <span>{{localize "chat.trihnTest.difficulty"}} {{roll.data.difficulty}}</span>
      {{/if}}
      {{> "systems/shaanrenaissance/templates/chat/partials/chat-conditions.hbs"}}

    </div>
    <div class="result-container {{#ifeq isSuccess true}}success{{/ifeq}}{{#ifeq isSuccess false}}fail{{/ifeq}}">
      <span class="check-result">{{#ifeq isSuccess true}}{{localize "SR.Réussite"}}: {{/ifeq}}{{#ifnoteq isSuccess true}}{{localize "SR.Echec"}}{{/ifnoteq}}</span>{{#ifeq isSuccess true}}<span class="check-score">{{score}}</span>{{/ifeq}}
    </div>
</div>
