<div class="tab details" data-group="primary" data-tab="details">
    <div class="details-top">
        <span style="display: flex; flex-direction:row; ">
            <div class="region" style="width: 49%">
                <label class="region-label" for="{{options.id}}-reseau-region">{{localize "SRreseau.region"}}</label>
                <input style="width: 99%" name="system.region" id="{{options.id}}-reseau-region" value="{{data.region}}">
            </div>
            <div class="influence" style="width: 50%">
                <label class="influence-label" for="{{options.id}}-reseau-influence">{{localize "SRreseau.influence"}}</label>
                <input name="system.influence" id="{{options.id}}-reseau-influence" value="{{data.influence}}">
            </div>
        </span>
        <div class="QG">
            <label class="QG-label" for="{{options.id}}-reseau-QG">{{localize "SRreseau.QG"}}</label>
            <input name="system.QG" id="{{options.id}}-reseau-QG" value="{{data.QG}}">
        </div>
        <div class="valeurs">
            <label class="valeurs-label" for="{{options.id}}-reseau-valeurs">{{localize "SRreseau.valeurs"}}</label>
                <input name="system.valeurs" id="{{options.id}}-reseau-valeurs" value="{{data.valeurs}}">
        </div>
        <div class="typesMembres">
            <label class="typesMembres-label" for="{{options.id}}-reseau-typesMembres">{{localize "SRreseau.typesMembres"}}</label>
            {{editor enrichedTypeMembres target="system.typesMembres" button=true owner=owner editable=editable
            engine="prosemirror"}}        
        </div>
        <div class="motivations">
            <label class="motivations-label" for="{{options.id}}-reseau-motivations">{{localize "SRLabels.Motivations"}}</label>
            {{editor enrichedMotivations target="system.motivation" button=true owner=owner editable=editable
            engine="prosemirror"}}        
        </div>
        <div class="moyens">
            <label class="moyens-label" for="{{options.id}}-reseau-moyens">{{localize "SRreseau.moyens"}}</label>
            {{editor enrichedMoyens target="system.moyens" button=true owner=owner editable=editable
            engine="prosemirror"}}
        </div>
    </div>
    <hr />
    {{~> "systems/shaanrenaissance/templates/actors/partials/campagne.hbs"}}
</div>