<form class="item sheet crb-style artefact" autocomplete="off">
    {{!-- HEADER --}}
    {{> "systems/Shaan_Renaissance/templates/items/partials/header.hbs"}}

    <div class="artefact-rank">
        <p>
            <i>
                {{localize "SRLabels.acquis"}} {{localize "SR.de"}}
                {{#if editable}}
                <select name="system.acquis.caste">
                        {{#select data.acquis.caste}}
                        {{#each config.acquis.caste as |caste|}}
                        <option value="{{caste}}">{{localize caste}}</option>
                    {{/each}}
                    {{/select}}
                </select>
                {{localize "SR.de"}}
                {{else}}
                    <input class="locked-input-rank" name="system.acquis.caste" type="text" value="{{data.acquis.caste}}"/>
                {{/if}}
                <b>{{#if editable}}
                <select name="system.class">
                        {{#select data.class}}
                        {{#each config.acquis.class as |class|}}
                        <option value="{{class}}">{{localize class}}</option>
                    {{/each}}
                    {{/select}}
                </select>
                {{else}}
                    <input class="locked-input-rank" name="system.class" type="text" value="{{data.class}}"/>
                {{/if}}</b>
            </i>
        </p>
    </div>
    <div class="artefact-details">
        <div class="artefact-spécialisations">
            <h3>
                <label for="{{options.id}}-artefact-spécialisations">{{localize "SR.spécialisations"}}</label>
                <input name="system.acquis.spécialisations" id="{{options.id}}-artefact-spécialisations" type="text" value="{{data.acquis.spécialisations}}"spellcheck="false"/>
            </h3>
        </div>
        <div class="artefact-déscription">
            <label for="{{options.id}}-artefact-Déscription">{{localize "SR.Déscription"}}</label>
            <textarea name="system.description.value" resize="none" id="{{options.id}}-artefact-Déscription" type="text" value="{{data.description.value}}" spellcheck="false">{{data.description.value}}</textarea>
        </div>
        <div class="artefact-valeur">
            <h3>
                <label for="{{options.id}}-artefact-valeur">{{localize "SR.valeur"}}</label>
                <input name="system.acquis.valeur" id="{{options.id}}-artefact-valeur" type="text" value="{{data.acquis.valeur}}"spellcheck="false"/>
            </h3>
        </div>
        <div class="artefact-prestige">
            <h3>
                <label for="{{options.id}}-artefact-prestige">{{localize "SR.prestige"}}</label>
                <input name="system.acquis.prestige" id="{{options.id}}-artefact-prestige" type="text" value="{{data.acquis.prestige}}"spellcheck="false"/>
            </h3>
        </div>
        <div class="artefact-ressources">
            <h3>
                <label for="{{options.id}}-artefact-ressources">{{localize "SR.ressources"}}</label>
                <input name="system.acquis.ressources" id="{{options.id}}-artefact-ressources" type="text" value="{{data.acquis.ressources}}"spellcheck="false"/>
            </h3>
        </div>
        <div class="artefact-fabrication">
            <h3>
                <label for="{{options.id}}-artefact-fabrication">{{localize "SR.fabrication"}}</label>
                <input name="system.acquis.fabrication" id="{{options.id}}-artefact-fabrication" type="text" value="{{data.acquis.fabrication}}"spellcheck="false"/>
            </h3>
        </div>


        </div>


</form>