<div class="tab acquis" data-group="primary" data-tab="acquis">
    <div class="acquis-top">
        <div class="acquis-money">
            <label class="money-input money-label" for="{{options.id}}-pc-money">{{localize "SRLabels.Crédos"}}</label>
            <input type="text" class="money-input" title="{{localize "SRLabels.CrédosTitle"}}" id="{{options.id}}-pc-money" name="system.attributes.crédos" value="{{data.attributes.crédos}}" readonly/>
        </div>
        {{#ifeq actor.type "Personnage"}}
        {{> "systems/shaanrenaissance/templates/actors/partials/coinage.hbs"}}
        {{/ifeq}}
        {{#ifeq actor.type "Shaani"}}
        {{> "systems/shaanrenaissance/templates/actors/partials/coinage.hbs"}}
        {{/ifeq}}
        {{#ifeq actor.type "Réseau"}}
        {{> "systems/shaanrenaissance/templates/actors/partials/coinage.hbs"}}
        {{/ifeq}}
    </div>
    
    <hr />
    {{> "systems/shaanrenaissance/templates/actors/partials/acquis-categories.hbs"}}
    <hr />
    <div class="acquis-ressources">
        <div class="ressources-header">
            <h3>{{localize "SR.ressources"}}</h3>
        </div>
        <div class="ressources-content">
        {{> "systems/shaanrenaissance/templates/actors/partials/ressources.hbs"}}
        </div>
    </div>
</div>