<div class="tab magic" data-group="primary" data-tab="magic">
    <div class="trihns-list">
            <nav class="magic-navigation" data-group="magic">
                <a class="item" data-tab="schemes">{{localize "SRLabels.Schemes"}}</a>
                <a class="item" data-tab="alchimie">{{localize "SRLabels.Alchimie"}}</a>
                <a class="item" data-tab="enchantement">{{localize "SRLabels.Enchantement"}}</a>
            </nav>
            <section class="magic-content">
                <div class="tab schemes" data-group="magic" data-tab="schemes">
                    {{> "systems/shaanrenaissance/templates/actors/partials/trihns-invoques.hbs"}}
                    {{#if (gte data.skills.Magie.rank 5)}}
                        {{#if (gte data.skills.Magie.specialisations.maitrisedesschemes.bonus 1)}}
                            {{localize "SRSchemes.SpeLevelTooLow"}}                        
                        {{else}}
                            Votre bonus de spécialisation de Maîtrise des Schèmes doit être supérieur ou égal à 1
                        {{/if}}
                    {{else}} 
                        {{localize "SRSchemes.DomaineLevelTooLow"}}
                    {{/if}}
                </div>
                <div class="tab alchimie" data-group="magic" data-tab="alchimie">
                    <label class="details-label" for="{{options.id}}-Magic-alchimie">{{localize "SRLabels.Alchimie"}}</label>
                    {{editor enrichedAlchemy target="system.Magic.alchimie" button=true owner=owner editable=editable
                    engine="prosemirror"}}
                </div>
                <div class="tab enchantement" data-group="magic" data-tab="enchantement">
                    {{> "systems/shaanrenaissance/templates/actors/partials/trihns-invoques.hbs"}}
                    <label class="details-label" for="{{options.id}}-Magic-enchantement">{{localize "SRLabels.Enchantement"}}</label>
                    {{editor enrichedEnchants target="system.Magic.enchantement" button=true owner=owner editable=editable
                    engine="prosemirror"}}
                </div>
            </section>
        </div>
    </div>
</div>