{{#if (gt flags.shaanRenaissance.schemes.learnedCountDomaine 0)}}
    {{localize "SRSchemes.canLearnDomaine" learnedCountDomaine=flags.shaanRenaissance.schemes.learnedCountDomaine}}
{{/if}}
{{#if (gt flags.shaanRenaissance.schemes.learnedCountSpe 0)}}
<p>{{localize "SRSchemes.canLearnSpe" learnedCountSpe=flags.shaanRenaissance.schemes.learnedCountSpe}}</p>
{{/if}}
<section class="schemes-elementaires">
        <div class="schemes-category">
            <h3>{{localize "SRSchemes.Labels.element"}}</h3>
        </div>
    <div class="schemes-container">
    {{#each flags.shaanRenaissance.schemes.element as |element|}}
    <input class="scheme" type="checkbox" id="{{@key}}" name="flags.shaanRenaissance.schemes.element.{{@key}}.learned" {{checked element.learned}} {{#ifeq element.learned false}}{{#ifeq @root.flags.shaanRenaissance.schemes.learnedCountDomaine 0}}disabled{{/ifeq}}{{/ifeq}}/>
    <label id="scheme_label" for="{{@key}}" class="{{#if element.learned}}checked{{/if}}" title="{{element.title}}" ><img src="systems/shaanrenaissance/icons/schemes/scheme-{{@key}}.png" /></label>
    {{/each}}
    </div>
</section>
<section class="schemes-actions">
        <div class="schemes-category">
            <h3>{{localize "SRSchemes.Labels.action"}}</h3>
        </div>
    <div class="schemes-container">
    {{#each flags.shaanRenaissance.schemes.action as |action|}}
    <input class="scheme" type="checkbox" id="{{@key}}" name="flags.shaanRenaissance.schemes.action.{{@key}}.learned" {{checked action.learned}} {{#ifeq action.learned false}}{{#ifeq @root.flags.shaanRenaissance.schemes.learnedCountSpe 0}}disabled{{/ifeq}}{{/ifeq}}/>
    <label id="scheme_label" for="{{@key}}" class="{{#if action.learned}}checked{{/if}}" title="{{action.title}}"><img src="systems/shaanrenaissance/icons/schemes/scheme-{{@key}}.png" /></label>
    {{/each}}
    </div>
</section>
<section class="schemes-clés">
        <div class="schemes-category">
            <h3>{{localize "SRSchemes.Labels.cles"}}</h3>
        </div>
    <div class="schemes-container">
    {{#each flags.shaanRenaissance.schemes.cles as |cles|}}
    <input class="scheme" type="checkbox" id="{{@key}}" name="flags.shaanRenaissance.schemes.cles.{{@key}}.learned" {{checked cles.learned}} disabled/>
    <label id="scheme_label" for="{{@key}}" class="{{#if cles.learned}}checked{{/if}}" title="{{cles.title}}"><img src="systems/shaanrenaissance/icons/schemes/scheme-{{@key}}.png" /></label>
    {{/each}}
    </div>
</section>
<section class="schemes-adjectifs">
    <section class="schemes-frequence">
        <div class="schemes-category">
            <h3>{{localize "SRSchemes.Labels.frequence"}}</h3>
        </div>
        <div class="schemes-container">
        {{#each flags.shaanRenaissance.schemes.frequence as |frequence|}}
        <input class="scheme" type="checkbox" id="{{@key}}" name="flags.shaanRenaissance.schemes.frequence.{{@key}}.learned" {{checked frequence.learned}} {{#ifeq @key "frequence1"}}disabled{{/ifeq}} {{#if (lt @root.actor.system.skills.Magie.rank 6)}}disabled{{/if}} {{#ifeq frequence.learned false}}{{#ifeq @root.flags.shaanRenaissance.schemes.learnedCountDomaine 0}}disabled{{/ifeq}}{{/ifeq}}/>
        <label id="scheme_label" for="{{@key}}" class="{{#if frequence.learned}}checked{{/if}}" title="{{frequence.title}}"><img src="systems/shaanrenaissance/icons/schemes/{{@key}}.png" /></label>
        {{/each}}
        </div>
    </section>
    <section class="schemes-portee">
        <div class="schemes-category">
            <h3>{{localize "SRSchemes.Labels.portee"}}</h3>
        </div>
        <div class="schemes-container">
        {{#each flags.shaanRenaissance.schemes.portee as |portee|}}
        <input class="scheme" type="checkbox" id="{{@key}}" name="flags.shaanRenaissance.schemes.portee.{{@key}}.learned" {{checked portee.learned}} {{#ifeq @key "contact"}}disabled{{/ifeq}} {{#if (lt @root.actor.system.skills.Magie.rank 6)}}disabled{{/if}} {{#ifeq portee.learned false}}{{#ifeq @root.flags.shaanRenaissance.schemes.learnedCountDomaine 0}}disabled{{/ifeq}}{{/ifeq}} />
        <label id="scheme_label" id="scheme_{{@key}}" for="{{@key}}" class="{{#if portee.learned}}checked{{/if}}" title="{{portee.title}}"><img src="systems/shaanrenaissance/icons/schemes/{{@key}}.png" /></label>
        {{/each}}
        </div>
    </section>
    <section class="schemes-duree">
        <div class="schemes-category">
            <h3>{{localize "SRSchemes.Labels.duree"}}</h3>
        </div>
        <div class="schemes-container">
        {{#each flags.shaanRenaissance.schemes.duree as |duree|}}
        <input class="scheme" type="checkbox" id="{{@key}}" name="flags.shaanRenaissance.schemes.duree.{{@key}}.learned" {{checked duree.learned}} {{#ifeq @key "duree1"}}disabled{{/ifeq}} {{#if (lt @root.actor.system.skills.Magie.rank 6)}}disabled{{/if}} {{#ifeq duree.learned false}}{{#ifeq @root.flags.shaanRenaissance.schemes.learnedCountDomaine 0}}disabled{{/ifeq}}{{/ifeq}}/>
        <label id="scheme_label" for="{{@key}}" class="{{#if duree.learned}}checked{{/if}}" title="{{duree.title}}"><img src="systems/shaanrenaissance/icons/schemes/{{@key}}.png" /></label>
        {{/each}}
        </div>
    </section>
    <section class="schemes-cibles">
        <div class="schemes-category">
            <h3>{{localize "SRSchemes.Labels.cibles"}}</h3>
        </div>
        <div class="schemes-container">
        {{#each flags.shaanRenaissance.schemes.cibles as |cibles|}}
        <input class="scheme" type="checkbox" id="{{@key}}" name="flags.shaanRenaissance.schemes.cibles.{{@key}}.learned" {{checked cibles.learned}} {{#ifeq @key "cibles1"}}disabled{{/ifeq}} {{#if (lt @root.actor.system.skills.Magie.rank 6)}}disabled{{/if}} {{#ifeq cibles.learned false}}{{#ifeq @root.flags.shaanRenaissance.schemes.learnedCountDomaine 0}}disabled{{/ifeq}}{{/ifeq}}/>
        <label id="scheme_label" for="{{@key}}" class="{{#if cibles.learned}}checked{{/if}}" title="{{cibles.title}}"><img src="systems/shaanrenaissance/icons/schemes/{{@key}}.png" /></label>
        {{/each}}
        </div>
    </section>
</section>
<input style="display: hidden" value="{{flags.shaanRenaissance.schemes.domaine}}">
<input style="display: hidden" value="{{flags.shaanRenaissance.schemes.bonusSpe}}">
<input style="display: hidden" value="{{flags.shaanRenaissance.schemes.maitrise}}">

<label class="details-label" for="{{options.id}}-Magic-schemes">{{localize "SRLabels.Schemes"}}</label>
{{editor enrichedSchemes target="system.Magic.schèmes" button=true owner=owner editable=editable
engine="prosemirror"}}
