<div class="tab acquis" data-group="primary" data-tab="acquis">
    <div class="acquis-top">
        <div class="acquis-money">
            <label class="money-input money-label" for="{{options.id}}-pc-money">{{localize "SRLabels.Crédos"}}</label>
            <input type="text" class="money-input" title="{{localize "SRLabels.CrédosTitle"}}" id="{{options.id}}-pc-money" name="system.attributes.crédos" value="{{data.attributes.crédos}}"/>
        </div>
        <div class="acquis-préstige">
            <label class="préstige-input préstige-label" for="{{options.id}}-pc-préstige">{{localize "SR.préstige"}}</label>
            <input type="text" class="préstige-input" title="{{localize "SR.préstigeTitle"}}" id="{{options.id}}-pc-money" name="system.attributes.préstige" value="{{data.attributes.préstige}}"/>
        </div>
    </div>
    <hr />
    <ol class="itemCategory-list directory-list">
        {{#each items.Category as |Category|}}
        <li class="item item-container itemCategory {{@key}}">
            <div class="category-header">
                <h3 class="item-name">{{@key}}</h3>
                {{#ifeq @root.editable true}}
                    <div class="item-controls">
                        <a class="item-control item-create"><i class="fas fa-fw fa-plus" id="{{@key}}-add"></i></a>
                    </div>
                {{/ifeq}}
            </div>
            <ol class="item-list liste-items liste-item {{@key}}">
                {{#each Category as |acquis id|}}
                <li class="item acquis" draggable="true" data-item-id="{{acquis._id}}">
                <div class="acquis-header">
                        <img src="{{acquis.img}}" data-edit="img">
                    <span class="acquis-name">
                        {{acquis.name}}
                    </span>
                    <div class="item-controls">
                        <a class="item-control item-edit"><i class="fas fa-fw fa-edit"></i></a>
                        <a class="item-control item-delete"><i class="fas fa-fw fa-trash"></i></a>
                    </div>
                </div>
                <div class="spécialisations">
                    <i>{{localize "SRLabels.BonusLabel"}}: {{acquis.system.acquis.spécialisations}}</i>
                </div>
                </li>
                {{/each}}
            </ol>
        </li>
        {{/each}}
    </ol>
    <hr />
    <div class="acquis-ressources">
        <div class="ressources-header">
            <h3>{{localize "SR.ressources"}}</h3>
        </div>
        <div class="ressources-content">
        {{> "systems/Shaan_Renaissance/templates/actors/Personnage/partials/ressources.hbs"}}
        </div>
    </div>
</div>