<div class="tab character" data-group="primary" data-tab="character">
    <section class="character-details">
        <div class="frame-container">
            <div class="frame image-container">
                <img class="player-image" alt="{{actor.name}}" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
                <a class="hover-icon" data-action="show-image"><i class="fas fa-image fa-fw"></i></a>
            </div>
        </div>
        <div class="vide">
        </div>
        <div class="pc pc_shaani">
            <label class="details-input details-label" for="{{options.id}}-pc-shaani">{{localize "SR.Shaani"}}</label>
            <input type="text" class="details-input" title="{{localize "SR.ShaaniTitle"}}" id="{{options.id}}-pc-shaani" name="system.general.shaani.value" value="{{data.general.shaani.value}}"/>
        </div>
        <div class="detail-sheet">
            {{!-- race --}}
            <div class="pc pc_race item">
                <label class="details-label" for="{{options.id}}-pc-race">{{localize "ITEM.TypeRace"}}</label>
                <input type="text" class="details-input" title="{{localize "SR.RaceTitle"}}" id="{{options.id}}-pc-race" name="system.general.race.value" value="{{data.general.race.value}}"/> 
            </div>
            {{!-- peuple --}}
            <div class="pc pc_people item">
                <label class="details-label" for="{{options.id}}-pc-people">{{localize "ITEM.TypePeople"}}</label>
                <input type="text" class="details-input" title="{{localize "SR.PeopleTitle"}}" id="{{options.id}}-pc-people" name="system.general.people.value" value="{{data.general.people.value}}"/>
            </div>
            {{!-- caste --}}
            <div class="pc pc_caste item">
                <label class="details-label" for="{{options.id}}-pc-caste">{{localize "ITEM.TypeCaste"}}</label>
                <input type="text" class="details-input" title="{{localize "SR.CasteTitle"}}" id="{{options.id}}-pc-caste" name="system.general.caste.value" value="{{data.general.caste.value}}"/>
            </div>
            {{!-- métier --}}
            <div class="pc pc_job item">
                <label class="details-label" for="{{options.id}}-pc-job">{{localize "ITEM.TypeJob"}}</label>
                <input type="text" class="details-input" title="{{localize "SR.JobTitle"}}" id="{{options.id}}-pc-job" name="system.general.job.value" value="{{data.general.job.value}}"/>
            </div>
        </div>
    </section>

    <hr />

    <section class="character-background">
        {{> "systems/Shaan_Renaissance/templates/actors/Personnage/partials/background.hbs"}}
    </section>
    <hr />
    <section class="character-domains">
         <span class="DomainsLabel">{{localize "SRLabels.DomainsTitle"}}</span>
        {{> "systems/Shaan_Renaissance/templates/actors/Personnage/partials/domaincircle.hbs"}}
    </section>
    <hr />
    <section class="character-specializations">
        
    </section>
</div>

