<div class="tab character" data-group="primary" data-tab="character">
    <section class="character-details">
        <div class="frame-container">
            <div class="frame image-container">
                <img class="player-image" alt="{{actor.name}}" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
                <a class="hover-icon" data-action="show-image"><i class="fas fa-image fa-fw"></i></a>
            </div>
        </div>
        <div class="vide">
        </div>
        <div class="pc pc_shaani">
            <label class="details-input details-label" for="{{options.id}}-pc-shaani">{{localize "SR.Shaani"}}</label>
            <input type="text" class="details-input" title="{{localize "SR.ShaaniTitle"}}" id="{{options.id}}-pc-shaani" name="system.general.shaani.value" value="{{data.general.shaani.value}}"/>
        </div>
        <div class="detail-sheet">
            {{!-- race --}}
            <div class="pc pc_race item" data-item-id="{{Race._id}}">
                <div class="input">
                    <label class="details-label">{{localize "ITEM.TypeRace"}}</label>
                    <h3>
                        <span class="value">{{Race.name}}</span>
                        {{#if @root.editable}}
                        {{#if Race}}
                            <a class="item-edit"><i class="fas fa-fw fa-edit"></i></a>
                        {{else}}
                            <a class="open-compendium" data-compendium="Shaan_Renaissance.races"><i class="fas fa-fw fa-circle-plus"></i></a>
                        {{/if}}
                        {{/if}}
                    </h3>
                </div>
            </div>
            {{!-- peuple --}}
            <div class="pc pc_people item" data-item-id="{{Peuple._id}}">
                <div class="input">
                    <label class="details-label">{{localize "ITEM.TypePeople"}}</label>
                    <h3>
                        <span class="value">{{Peuple.name}}</span>
                        {{#if @root.editable}}
                        {{#if Peuple}}
                            <a class="item-edit"><i class="fas fa-fw fa-edit"></i></a>
                        {{else}}
                            <a class="open-compendium" data-compendium="Shaan_Renaissance.peuples"><i class="fas fa-fw fa-circle-plus"></i></a>
                        {{/if}}
                        {{/if}}                        
                    </h3>
                </div>            
            </div>
            {{!-- caste --}}
            <div class="pc pc_caste item" data-item-id="{{Caste._id}}">
                <div class="input">
                    <label class="details-label">{{localize "ITEM.TypeCaste"}}</label>
                    <h3>
                        <span class="value">{{Caste.name}}</span>
                        {{#if @root.editable}}
                        {{#if Caste}}
                            <a class="item-edit"><i class="fas fa-fw fa-edit"></i></a>
                        {{else}}
                            <a class="open-compendium" data-compendium="Shaan_Renaissance.castes"><i class="fas fa-fw fa-circle-plus"></i></a>
                        {{/if}}
                        {{/if}}
                    </h3>
                </div>             
            </div>
            {{!-- métier --}}
            <div class="pc pc_job item" data-item-id="{{Metier._id}}">
                <div class="input">
                    <label class="details-label">{{localize "ITEM.TypeJob"}}</label>
                    <h3>
                        <span class="value">{{Metier.name}}</span>
                        {{#if @root.editable}}
                        {{#if Metier}}
                            <a class="item-edit"><i class="fas fa-fw fa-edit"></i></a>
                        {{else}}
                            <a class="open-compendium" data-compendium="Shaan_Renaissance.metiers"><i class="fas fa-fw fa-circle-plus"></i></a>
                        {{/if}}
                        {{/if}}
                    </h3>
                </div>             
            </div>
        </div>
    </section>
    <hr />
    <section class="character-background">
        {{~> "systems/Shaan_Renaissance/templates/actors/Personnage/partials/background.hbs"}}
    </section>
    <hr />
    
    <section class="character-domains">
        <span class="DomainsLabel">{{localize "SRLabels.DomainsTitle"}}</span>
        {{~> "systems/Shaan_Renaissance/templates/actors/Personnage/partials/domaincircle.hbs"}}
    </section>
    <hr />
    <section class="character-specialisations">
        <span class="SpecialisationsLabel">{{localize "SRLabels.SpecialisationsTitle"}}</span>
        {{~> "systems/Shaan_Renaissance/templates/actors/Personnage/partials/specialisations.hbs"}}
    </section>
</div>

