<div class="tab magic" data-group="primary" data-tab="magic">
    <div class="trihns-list"></div>
            <div class="category-header">
                <h3 class="item-name">{{localize "SRLabels.SummonedTrihns"}}</h3>
                {{#ifeq @root.editable true}}
                    <div class="item-controls">
                        <a class="item-control item-create"><i class="fas fa-fw fa-plus" id="MagicTrihn-add"></i></a>
                    </div>
                {{/ifeq}}
            </div>
            <ol class="item-list liste-items liste-item">
                {{#each SummonedTrihns as |trihn id|}}
                <li class="item trihn" draggable="true" data-item-id="{{trihn._id}}">
                <div class="trihn-header">
                    <span class="trihn-type">
                        {{system.trihnType}}
                    </span>
                    <div class="trihn-puissance">
                        {{system.puissance}}
                    </div>
                    <div class="trihn-emplacement">
                        {{system.emplacement}}
                    </div>
                    <div class="item-controls">
                        <a class="item-control item-edit"><i class="fas fa-fw fa-edit"></i></a>
                        <a class="item-control item-delete"><i class="fas fa-fw fa-trash"></i></a>
                    </div>
                </div>
                </li>
                {{/each}}
            </ol>
    </div>
</div>