<div class="tab magic" data-group="primary" data-tab="magic">
    <div class="trihns-list"></div>
            <div class="category-header">
                <h3 class="item-name">{{localize "SRLabels.SummonedTrihns"}}</h3>
                {{#ifeq @root.editable true}}
                    <div class="item-controls">
                        <a class="item-control item-create"><i class="fas fa-fw fa-plus" id="MagicTrihn-add"></i></a>
                    </div>
                {{/ifeq}}
            </div>
            <ol class="item-list liste-items liste-item">
                {{#each SummonedTrihns as |acquis id|}}
                <li class="item acquis" draggable="true" data-item-id="{{acquis._id}}">
                <div class="acquis-header">
                    <span class="acquis-name">
                        {{log trihn.system}}
                        <select name="system.trihnType">
                            {{#select system.trihnType}}
                            {{#each system.trihnTypes}}
                                <option value="{{@key}}">{{@key}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </span>
                    <div class="puissance">
                        <input name="system.puissance" value="{{system.puissance}}"/>
                    </div>
                    <div class="emplacement">
                        <input name="system.emplacement" value="{{system.emplacement}}"/>
                    </div>
                    <div class="item-controls">
                        <a class="item-control item-delete"><i class="fas fa-fw fa-trash"></i></a>
                    </div>
                </div>
                </li>
                {{/each}}
            </ol>
    </div>
</div>