<div class="tab morphe" data-group="primary" data-tab="morphe">
    <div class="moduleList">
        <header class="moduleList-header">
            <h3>{{localize "SRLabels.Modules"}}</h3>
            {{#ifeq @root.editable true}}
                <div class="item-controls">
                    <a class="item-create" id="graft-add"><i class="fa-solid fa-microchip"></i></a>
                </div>
            {{/ifeq}}
        </header>
        <ol class="moduleList-list directory-list">
            {{#each morpheModules as |module|}}
            <li class="item module" draggable="true" data-item-id="{{module._id}}">
                <div class="module-header">
                    <img src="{{module.img}}" data-edit="img">
                    <span class="module-name">
                        {{module.name}}
                    </span>
                    <div class="item-controls">
                        <a class="item-control item-edit"><i class="fas fa-fw fa-edit"></i></a>
                        <a class="item-control item-delete"><i class="fas fa-fw fa-trash"></i></a>
                    </div>
                </div>
                <div class="spécialisations">
                    {{#ifeq module.type "Protection"}}
                    <div class="spécialisations">
                        <i>{{localize "SRLabels.protection"}}: {{module.system.protection}}</i>
                    </div>
                    {{/ifeq}}
                    {{#ifnoteq module.type "Protection"}}
                    <div class="spécialisations">
                        <i>{{localize "SRLabels.BonusLabel"}}: {{module.system.acquis.spécialisations}}</i>
                    </div>                    
                    {{/ifnoteq}}
                </div>
            </li>
            {{/each}}
        </ol>
    </div>




</div>