<div class="ressource Verre">
    <img src="systems/shaanrenaissance/assets/icons/ressources/Verre.webp" title="Verre">
    <input class="select-input" type="text" class="Verre-input" id="pc-Verre" name="system.Ressources.Verre" value="{{data.Ressources.Verre}}"/>
</div>
<div class="ressource Bois">
    <img src="systems/shaanrenaissance/assets/icons/ressources/Bois.webp" title="Bois">
    <input class="select-input" type="text" class="Bois-input" id="pc-Bois" name="system.Ressources.Bois" value="{{data.Ressources.Bois}}"/>
</div>
<div class="ressource Or">
    <img src="systems/shaanrenaissance/assets/icons/ressources/Or.webp" title="Or">
    <input class="select-input" type="text" class="Or-input" id="pc-Or" name="system.Ressources.Or" value="{{data.Ressources.Or}}"/>
</div>
<div class="ressource Population">
    <img src="systems/shaanrenaissance/assets/icons/ressources/Population.webp" title="Population">
    <input class="select-input" type="text" class="Population-input" id="pc-Population" name="system.Ressources.Population" value="{{data.Ressources.Population}}"/>
</div>
<div class="ressource Pierre">
    <img src="systems/shaanrenaissance/assets/icons/ressources/Pierre.webp" title="Pierre">
    <input class="select-input" type="text" class="Pierre-input" id="pc-Pierre" name="system.Ressources.Pierre" value="{{data.Ressources.Pierre}}"/>
</div>
<div class="ressource Trihnite">
    <img src="systems/shaanrenaissance/assets/icons/ressources/Trihnite.webp" title="Trihnite">
    <input class="select-input" type="text" class="Trihnite-input" id="pc-Trihnite" name="system.Ressources.Trihnite" value="{{data.Ressources.Trihnite}}"/>
</div>
<div class="ressource Animal">
    <img src="systems/shaanrenaissance/assets/icons/ressources/Animal.webp" title="Animal">
    <input class="select-input" type="text" class="Animal-input" id="pc-Animal" name="system.Ressources.Animal" value="{{data.Ressources.Animal}}"/>
</div>
<div class="ressource Cultures">
    <img src="systems/shaanrenaissance/assets/icons/ressources/Cultures.webp" title="Cultures">
    <input class="select-input" type="text" class="Cultures-input" id="pc-Cultures" name="system.Ressources.Cultures" value="{{data.Ressources.Cultures}}"/>
</div>
<div class="ressource Métal">
    <img src="systems/shaanrenaissance/assets/icons/ressources/Métal.webp" title="Métal">
    <input class="select-input" type="text" class="Métal-input" id="pc-Métal" name="system.Ressources.Métal" value="{{data.Ressources.Métal}}"/>
</div>
<div class="ressource Hydrocarbures">
    <img src="systems/shaanrenaissance/assets/icons/ressources/Hydrocarbures.webp" title="Hydrocarbures">
    <input class="select-input" type="text" class="Hydrocarbures-input" id="pc-Hydrocarbures" name="system.Ressources.Hydrocarbures" value="{{data.Ressources.Hydrocarbures}}"/>
</div>

